.team-row {
  border-bottom: 1px solid var(--color-gray-3);

  &:last-of-type {
    border-bottom: 0;
  }

  .team-name {
    align-items: center;
    background-color: #666666;
    color: #ffffff;
    display: flex;
    flex: 1;
    font-size: 14px;
    justify-content: center;
    padding: 0 5px;
    text-align: center;
  }

  .team-tasks {
    flex: 12;
  }
}
