@import 'styles/font-mixins';

.TopNavDesktopItems {
  &__apps {
    margin-right: 24px;
  }

  &__apps-button,
  &__discord-button {
    align-items: center;
    display: flex;
  }

  &__discord-button {
    background-color: transparent;
    border: 0;
    color: var(--color-discord);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    outline: none;

    &:hover {
      color: var(--color-discord-hover);
    }
  }

  &__download,
  &__discord-button {
    margin-right: 16px;
  }

  &__profile-image {
    border-radius: 50%;
    height: auto;
    margin-left: 12px;
    margin-right: 24px;
    width: 36px;
  }

  &__right-item {
    display: flex;
    margin-left: 24px;
  }

  &__separator {
    background-color: #c1c9d2;
    height: 25px;
    margin-left: 30px;
    width: 0.5px;
  }

  @media (max-width: 1366px) {
    &__download-button,
    &__profile-image,
    &__right-item,
    &__separator {
      display: none;
    }
  }
}
