.Popover {
  background: var(--color-white);
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(85, 108, 214, 0.18);
  opacity: 0;
  outline: none;
  padding: 12px;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;

  &--open {
    opacity: 1;
    z-index: 2;
  }
}
