.TotalAmount {
  white-space: nowrap;

  &__amount {
    color: var(--color-tertiary);
    font-family: var(--font-family-inter-medium);
    font-size: var(--font-size-medium);
    margin-top: 8px;
  }

  &__title {
    color: var(--color-sail-gray-500);
  }
}
