$quarter-circle-size: 75px;

.Quarters {
  display: flex;
  padding-bottom: 24px;

  .quarters-row {
    display: flex;
    flex: 12;

    .quarter {
      position: relative;

      .arrow {
        background-color: var(--color-gray-3);
        height: 2px;
        left: calc(50% + #{$quarter-circle-size} / 2);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% - #{$quarter-circle-size});
        z-index: -1;

        &:after {
          border: 5px solid transparent;
          border-left: 10px solid var(--color-gray-3);
          content: '';
          left: 100%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.q1 {
        .quarter-circle {
          background-color: var(--color-gray-1);
        }
      }

      &.q2 {
        .quarter-circle {
          background-color: var(--color-gray-2);
        }
      }

      &.q3 {
        .quarter-circle {
          background-color: var(--color-gray-3);
        }
      }

      &.q4 {
        .arrow {
          display: none;
        }

        .quarter-circle {
          background-color: var(--color-gray-4);
        }

        .quarter-name {
          color: var(--color-black);
        }
      }

      .quarter-circle {
        align-items: center;
        border-radius: 50%;
        display: flex;
        height: $quarter-circle-size;
        justify-content: center;
        margin: auto;
        width: $quarter-circle-size;

        .quarter-name {
          color: var(--color-white);
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}
