.Quarters {
  .quarters-row {
    display: flex;
    flex: 12;
    padding-bottom: 24px;

    .quarter {
      position: relative;

      .arrow {
        background-color: var(--color-gray-3);
        height: 2px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;

        &:after {
          border: 5px solid transparent;
          border-left-width: 10px;
          border-right-width: 10px;
          border-left-color: #999;
          content: ' ';
          left: 100%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &:last-of-type {
        .arrow {
          display: none;
        }
      }

      .quarter-circle {
        align-items: center;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        margin: auto;

        .quarter-name {
          color: #fff;
          font-size: 16px;
          font-weight: bold;
        }
      }

      &:nth-of-type(2) .quarter-circle {
        background-color: var(--color-gray-1);
      }

      &:nth-of-type(3) .quarter-circle {
        background-color: var(--color-gray-2);
      }

      &:nth-of-type(4) .quarter-circle {
        background-color: var(--color-gray-3);
      }

      &:nth-of-type(5) .quarter-circle {
        background-color: var(--color-gray-4);

        .quarter-name {
          color: #000;
        }
      }
    }
  }
}
