.Guidelines {
  margin-top: 60px;
  min-height: 700px;
  padding-bottom: 120px;
  padding-left: 32px;
  padding-right: 32px;

  &__list {
    li {
      margin-bottom: 12px;
      margin-top: 12px;
    }
  }

  &__subtitle {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  &__title {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
