.ContributorTasks {
  border-left: 1px solid var(--color-sail-gray-100);
  border-right: 1px solid var(--color-sail-gray-100);

  table {
    width: 100%;
  }

  td,
  th {
    padding: 2px 0 2px 12px;
    white-space: nowrap;

    &:first-of-type {
      padding-left: 12px;
    }

    &:last-of-type {
      padding-right: 12px;
      text-align: right;
    }
  }

  th {
    color: var(--color-sail-gray-500);
    font-weight: normal;
    padding-bottom: 6px;
    text-align: left;
  }

  // Recent Task (name of task)
  td:nth-child(1),
  th:nth-child(1) {
    max-width: 140px;
    min-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // Repository
  td:nth-child(2),
  th:nth-child(2) {
    max-width: 140px;
    min-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // Completed
  td:nth-child(3),
  th:nth-child(3) {
    max-width: 70px;
    min-width: 70px;
  }

  // Amount
  td:nth-child(4),
  th:nth-child(4) {
    max-width: 100px;
    min-width: 100px;
  }

  &__amount {
    color: var(--color-tertiary);
  }

  &__issue-link {
    color: var(--color-primary);

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 1400px) {
    // Repository
    td:nth-child(2),
    th:nth-child(2) {
      display: none;
    }
  }

  @media (max-width: 1280px) {
    // Completed
    td:nth-child(3),
    th:nth-child(3) {
      display: none;
    }
  }
}
