.TopNavDropdownMenuItem,
.TopNavDropdownMenuItem:visited {
  color: var(--color-sail-gray-400);
  display: block;
  font-family: var(--font-family-inter-medium);
  font-size: 16px;
  padding: 6px 0;
  transition: color 0.1s ease;

  &:hover {
    color: var(--color-primary);
  }

  &.active {
    color: var(--color-primary);
  }
}
