.GuideBlocks {
  &__text-light {
    color: #9b9b9b;
  }
  div.callout {
    background-color: rgb(201, 238, 203);
    margin: 25px;
    min-height: 50px;
    padding: 10px;
    position: relative;
  }
}
