.Task {
  border-bottom: 1px solid #e3e8ee;
  display: flex;
  margin: 0 24px;
  padding: 24px 0;

  &__assignee {
    border-radius: 50%;
    height: 22px;
    width: 22px;
  }

  &__assignees-title {
    color: var(--color-sail-gray-500);
  }

  &__Label {
    margin-left: 4px;
  }

  &__issue-bottom {
    color: var(--color-sail-gray-400);
    margin-top: 8px;
  }

  &__issue-top {
    align-items: center;
    display: flex;
  }

  // Issue information
  &__left {
    flex: 1;
  }

  // Assignees
  &__middle {
    flex-basis: 80px;
    margin-left: 32px;
  }

  // Points
  &__right {
    flex-basis: 120px;
    margin-left: 32px;
    white-space: nowrap;
  }

  &__title {
    color: var(--color-primary);
    font-family: var(--font-family-inter-medium);
    font-size: 18px;
    font-weight: 600;
  }
}
