$block-size: 100px;

.GuideBlockTypes {
  &__block {
    align-items: center;
    border: 3px solid #5e5e5e;
    border-radius: 6px;
    display: flex;
    flex-shrink: 0;
    height: $block-size;
    justify-content: center;
    margin-right: 24px;
    padding: 4px;
    width: $block-size;

    &--name {
      font-weight: 800;
      text-align: center;
    }
  }

  &__block-type-row {
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    padding: 24px 0;

    &--description {
      margin-top: 8px;
    }
  }
}
