.GuideBlockTypes {
  &__block {
    align-items: center;
    border: 3px solid #5e5e5e;
    border-radius: 6px;
    display: flex;
    height: 100px;
    justify-content: center;
    margin-right: 16px;
    width: 100px;

    &--name {
      font-weight: 800;
    }
  }

  &__block-type-row {
    border-bottom: 1px solid red;
    display: flex;
    padding: 8px 0;

    &--description {
      font-weight: 800;
    }
  }
}
