$gap-width: 50px;
$left-pl: 64px;
$right-width: 714px;
$title-width: 480px;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.HomeHero {
  display: flex;
  justify-content: center;
  height: 687px;
  padding-top: 33px;
  position: relative;

  @media (max-width: 1200px) {
    flex-direction: column;
    height: unset;
    padding-bottom: 60px;
  }

  &__hello-world {
    display: block;
    margin-bottom: 30px;

    &--fade-in {
      animation: fadeIn 1s ease-in-out;
      opacity: 1;
    }

    &--fade-out {
      animation: fadeOut 1s ease-in-out;
      opacity: 0;
    }
  }

  &__image {
    max-width: 695px;
    width: 100%;
  }

  &__left {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: $gap-width;
    padding: 128px 0 128px $left-pl;

    @media (max-width: 1200px) {
      max-width: 100vw;
      margin-right: 0;
      padding: 64px 32px 0 32px;
    }
  }

  &__left-content-container {
    @media (max-width: 1200px) {
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  &__SocialMediaLink {
    background: var(--color-sail-gray-900);
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(4, 34, 53, 0.25);
    color: var(--color-white);
    display: flex;
    height: 42px;
    justify-content: center;
    transition: background-color 0.1s ease-in;
    width: 42px;

    &:not(:last-child) {
      margin-right: 18px;
    }

    &:hover {
      background: var(--color-primary-hover);
    }
  }

  &__social-media-links {
    display: flex;
    margin-top: 32px;
  }

  &__right {
    height: 100%;
    position: relative;
    max-width: $right-width;

    @media (max-width: 1200px) {
      margin: 60px 12px 0;
      max-width: 100vw;
      text-align: center;
    }
  }

  &__subtitle,
  &__title {
    max-width: $title-width;
  }

  &__subtitle {
    font-size: var(--font-size-regular);
    font-weight: normal;
    line-height: 1.5;
    margin-top: 30px;
  }

  &__title {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.25;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    max-width: $title-width + $gap-width + $right-width + $left-pl;

    @media (max-width: 1200px) {
      align-items: inherit;
      flex-direction: column;
    }
  }
}
