.Blocks {
  &__text-light {
    color: #9b9b9b;
  }

  img {
    &.balance-lock-and-key {
      max-width: 1400px;
    }
    &.block-details {
      max-width: 530px;
    }
    &.transaction-diagram {
      max-width: 740px;
    }
    &.transaction-failed-diagram {
      max-width: 740px;
    }
    &.transaction-success-diagram {
      max-width: 740px;
    }
  }
}
