.ButtonV2 {
  align-items: center;
  display: inline-flex;
  height: 40px;
  outline: none;

  &__empty {
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
    color: var(--color-primary);
    transition: 0.2s;

    &:hover {
      background-color: var(--color-blue-50);
      border: 1px solid var(--color-gray-200);
    }
  }

  &__outlined {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-200);
    color: var(--color-primary);
  }

  &__primary {
    background-color: var(--color-primary);
    border: 1px solid transparent;
    color: var(--color-white);

    &:hover {
      background-color: var(--color-white);
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
    }
  }

  &__icon-left {
    width: 30px;
  }

  &__icon-right {
    width: 30px;
  }

  &--rounded {
    border-radius: 100px;
  }

  &--left-icon-missing {
    padding-left: 15px;
  }

  &--right-icon-missing {
    padding-right: 15px;
  }
}
