.Button {
  align-items: center;
  display: inline-flex;
  height: 40px;

  &__empty {
    background-color: var(--color-white);
    border: none;
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-blue-50);
      border: 1px solid var(--color-gray-200);
    }
  }

  &__icon-right {
    width: 16px;
  }

  &__outlined {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-200);
    color: var(--color-primary);
  }

  &__primary {
    background-color: var(--color-primary);
    border: none;
    color: var(--color-white);
  }

  &--rounded {
    border-radius: 100px;
  }
}
