@import 'styles/font-mixins';

.FlatNavLinks {
  margin-top: 30px;
  padding: 1px;

  &__option {
    align-items: center;
    background: transparent;
    border: 0;
    border-radius: 6px;
    color: var(--color-gray-500);
    cursor: pointer;
    display: flex;
    font-weight: var(--font-weight-medium);
    height: 36px;
    line-height: 1.5;
    margin-bottom: 4px;
    padding: 4px 0 4px 36px;
    transition: background-color 0.1s;
    width: 100%;

    &:hover,
    &--active {
      @extend %h4;
      color: var(--color-blue-900);
    }

    &--active {
      font-weight: var(--font-weight-bold);
    }
  }

  @media (max-width: 992px) {
    margin-top: 16px;
  }
}
