.FlatNavLinks {
  margin-top: 30px;

  &__option {
    align-items: center;
    border-radius: 6px;
    color: var(--color-sail-gray-400);
    cursor: pointer;
    display: flex;
    font-weight: 700;
    height: 36px;
    outline: none;
    padding: 4px 0 4px 36px;
    transition: background-color 0.1s;

    &:hover {
      background: var(--color-sail-gray-100);
    }

    &--active {
      background: var(--color-sail-gray-100);
      color: var(--color-primary);
    }
  }

  @media (max-width: 992px) {
    margin-top: 16px;
  }
}
