@import 'styles/font-mixins';

.DeveloperPortalCards {
  background-color: var(--color-gray-900);

  &__container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 48px 48px;

    @media (max-width: 1366px) {
      padding: 72px 48px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 48px 24px;
    }
  }

  &__card {
    background: url('./card-bg-1366.png');
    background-color: #0e1733;
    background-position: right;
    background-size: cover;
    border-radius: 12px;
    color: white;
    min-width: 432px;
    padding: 48px 24px;

    &:not(:last-child) {
      margin-right: 36px;
    }

    @media (max-width: 992px) {
      background: url('./card-bg-768.png');
      background-color: #0e1733;
      background-position: right;
      background-size: cover;
      min-width: 324px;
      padding: 24px 24px;
      &:not(:last-child) {
        margin-right: 24px;
      }
    }

    @media (max-width: 768px) {
      background: url('./card-bg-992.png');
      background-color: #0e1733;
      background-position: right;
      background-size: cover;
      min-width: 100%;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 24px;
        margin-right: 0;
      }
    }
  }

  &__card-icon {
    align-items: center;
    background: var(--color-gray-900);
    border-radius: 6px;
    display: flex;
    height: 64px;
    justify-content: center;
    margin-bottom: 16px;
    width: 64px;
  }

  &__card-title {
    @extend %h2;
    color: white;
    font-weight: var(--font-weight-medium);
    margin-bottom: 16px;
  }

  &__card-description {
    @extend %body1;
    color: var(--color-gray-500);
    margin-bottom: 16px;
  }

  // need to increase specificity to override base css
  &__card-button.ButtonWebsite.ButtonWebsite--outlined {
    align-items: center;
    color: var(--color-gray-200);
    display: flex;

    &:hover {
      color: var(--color-primary);
    }
  }
}
