@import 'styles/font-mixins';

.TeamOverview {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 336px auto;

  & > div {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 3px rgba(85, 108, 214, 0.3);
    padding: 18px;
  }

  &__about {
    grid-area: 1 / 1 / 2 / 2;
  }

  &__description {
    color: var(--color-sail-gray-900);
    font-size: var(--font-size-h4);
    line-height: 1.5;
    margin-bottom: 24px;
  }

  &__responsibilities {
    color: var(--color-sail-gray-900);
    grid-area: 1 / 2 / 2 / 2;

    &-item {
      font-size: var(--font-size-h4);
      line-height: 21px;
    }
  }

  &__social {
    align-items: center;
    display: flex;
    margin-bottom: 24px;

    &-icon {
      margin-right: 12px;
    }

    &-title {
      align-items: center;
      display: flex;
      font-size: var(--font-size-h4);
      line-height: 125%;
      margin-bottom: 0;

      &--sail-gray {
        color: var(--color-sail-gray-900);
      }
    }
  }

  &__sub-heading {
    color: var(--color-sail-gray-900);
    font-size: var(--h4);
    font-weight: var(--font-weight-medium);
    line-height: 125%;
    margin-bottom: 30px;
  }

  @media (max-width: 768px) {
    & {
      grid-template-columns: auto;
    }

    &__about {
      grid-area: 1 / 1 / 2 / 2;
    }

    &__responsibilities {
      grid-area: 2 / 1 / 2 / 2;
    }
  }
}
