@import 'styles/font-mixins';
@import '../../shared';
@import 'styles/z-index';

.SideMenu {
  padding: 32px 32px 32px 0;
  position: sticky;
  top: $top-nav-height + $top-links-height + $breadcrumbs-height;
  width: 256px;
  z-index: $z-index-dev-portal-sidemenu;

  @media (max-width: 1366px) {
    padding: 32px 48px;
  }

  @media (max-width: 992px) {
    display: none;
  }

  &__title {
    @extend %h4;
    color: var(--color-gray-900);
    font-weight: var(--font-weight-bold);
    margin-bottom: 14px;
    text-transform: uppercase;
  }

  &__filter {
    @extend %body3;
    align-items: center;
    color: var(--color-gray-500);
    cursor: pointer;
    display: flex;
    margin-bottom: 8px;

    &--selected {
      color: var(--color-gray-900);
      font-weight: var(--font-weight-bold);
    }

    &-icon {
      margin-right: 8px;
    }
  }
}
