.RootBalanceSheet {
  img {
    &.root-balance-sheet-diagram {
      max-width: 360px;
    }
  }

  table {
    tr {
      td {
        border: 1px solid #e6e6e6;
        min-width: 90px;
      }
    }
  }
}
