.Tabs {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  &__innerContainer {
    max-width: 1126px;
    display: flex;
    width: 100%;
    margin: 40px 0;
    flex-direction: column;
  }
  &__tabs {
    border-bottom: 1px solid #e3e8ee;
    display: flex;
    width: 100%;
  }
  &__tabBtn {
    font-size: 20px;
    font-weight: 500;
    color: #697386;
    border-bottom: solid 3px #fff;
    margin-right: 36px;
    padding: 6px 0;
    cursor: pointer;
    transition: all linear 0.1s 0s;
    &:hover {
      color: #042235;
    }
    &.active {
      color: #042235;
      border-color: #042235;
    }
  }
  &__tabContent {
    padding: 40px 0;
  }
}
