.Tabs {
  &__tab {
    border: 3px solid transparent;
    color: var(--color-sail-gray-500);
    cursor: pointer;
    font-size: var(--font-size-medium);
    outline: none;
    padding: 12px;

    &:hover {
      border-bottom-color: var(--color-sail-gray-500);
    }

    &--active {
      border-bottom-color: var(--color-primary);
      color: var(--color-primary);
    }
  }

  &__tabs-container {
    border-bottom: 1px solid var(--color-sail-gray-100);
    display: flex;
    justify-content: flex-start;
    position: relative;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }
}
