.Help {
  display: flex;
  justify-content: center;
  padding: 48px 48px 0;

  &__a {
    display: block;
    font-family: var(--font-family-inter-medium);
    font-size: 16px;
    margin-bottom: 6px;
  }

  &__StepIndicator {
    margin-bottom: 42px;
  }

  &__step-one,
  &__step-two {
    margin: 0 32px;
  }

  &__step-one {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  &__step-two {
    display: flex;
    flex-direction: column;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    padding-left: 54px;
  }

  &__doc-button,
  .MarketingButton {
    height: 36px;
    margin-bottom: 12px;
    width: 200px;
  }

  &__navigation-section {
    display: flex;
    padding-left: 54px;
  }

  &__navigation-column {
    margin: 0 60px 54px 0;
  }

  &__navigation-column-header {
    font-weight: 300;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 36px;
  }

  &__navigation-group {
    margin-bottom: 36px;
  }

  &__navigation-group-header {
    font-size: var(--font-size-medium);
    font-weight: 500;
    margin-bottom: 18px;
  }

  @media (max-width: 1000px) {
    &__navigation-section {
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 36px;

    &__step-one,
    &__step-two {
      align-items: center;
      margin: 0;
    }

    &__step-one {
      margin-bottom: 60px;
    }
  }
}
