.Blocks {
  img {
    &.balance-lock-and-key {
      max-width: 1400px;
    }
    &.block-details {
      max-width: 530px;
    }
    &.transaction-diagram {
      max-width: 740px;
    }
    &.transaction-failed-diagram {
      max-width: 740px;
    }
    &.transaction-success-diagram {
      max-width: 740px;
    }
  }

  table {
    tr {
      td {
        border: 1px solid #e6e6e6;
        min-width: 90px;
      }
    }
  }
}
