.Roadmap {
  padding: 32px 32px 96px;

  .teams {
    border: 1px solid var(--color-gray-3);
    width: 100%;
  }

  .flex-1 {
    flex: 1;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .align-items-center {
    align-items: center;
  }

  .justify-content-center {
    justify-content: center;
  }
}
