.Roadmap {
  padding: 32px 32px 96px;

  .cell,
  .flex-1,
  .task-name,
  .team-name {
    min-width: 120px;
  }

  .align-items-center {
    align-items: center;
  }

  .flex-1 {
    flex: 1;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .roadmap-wrapper {
    overflow-x: auto;
    width: 100%;

    .teams {
      border-bottom: none;
    }
  }
}
