$quarter-circle-size: 75px;

.Roadmap {
  display: grid;
  grid-auto-rows: 42px;
  grid-template-columns: [team] minmax(80px, max-content) [task] minmax(120px, 1fr) repeat(
      4,
      [quarter] minmax(120px, 1fr)
    );
  grid-template-rows: 100px;
  overflow-x: auto;

  .empty-cell {
    border-bottom: 1px solid var(--color-gray-3);
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }

  .header {
    border-bottom: 1px solid var(--color-gray-3);
    grid-row: 1 / span 1;
    position: relative;

    &__circle {
      align-items: center;
      border-radius: 50%;
      color: var(--color-white);
      display: flex;
      font-size: 16px;
      font-weight: bold;
      height: $quarter-circle-size;
      justify-content: center;
      margin: auto;
      width: $quarter-circle-size;
    }

    &.q1 {
      grid-column: quarter 1 / span 1;

      .header__circle {
        background-color: var(--color-gray-1);
      }

      &::before,
      &::after {
        display: none;
      }
    }

    &.q2 {
      grid-column: quarter 2 / span 1;

      .header__circle {
        background-color: var(--color-gray-2);
      }
    }

    &.q3 {
      grid-column: quarter 3 / span 1;

      .header__circle {
        background-color: var(--color-gray-3);
      }
    }

    &.q4 {
      grid-column: quarter 4 / span 1;

      .header__circle {
        background-color: var(--color-gray-4);
      }
    }

    &::before {
      border-bottom: 2px solid var(--color-gray-3);
      content: '';
      left: 0;
      position: absolute;
      top: $quarter-circle-size / 2;
      transform: translateX(-50%);
      width: calc(100% - #{$quarter-circle-size});
    }

    &::after {
      border: 5px solid transparent;
      border-left: 10px solid var(--color-gray-3);
      content: '';
      left: calc(50% - #{$quarter-circle-size / 2});
      position: absolute;
      top: $quarter-circle-size / 2;
      transform: translate(-50%, -50%);
    }
  }

  .team {
    align-items: center;
    background-color: var(--color-gray-2);
    border: 2px solid var(--color-gray-3);
    border-top: none;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    font-weight: bold;
    grid-column: team;
    padding: 6px;
  }

  .task {
    align-items: center;
    border-bottom: 1px solid var(--color-gray-3);
    border-right: 1px solid var(--color-gray-3);
    display: flex;
    font-style: italic;
    grid-column: task;
    justify-content: center;
    padding: 6px;
    position: relative;

    .card {
      align-items: center;
      border-radius: 6px;
      display: flex;
      font-style: normal;
      height: calc(100% - 12px);
      justify-content: center;
      padding: 0 6px;
      position: absolute;
    }
  }

  .cell {
    background: var(--color-white);
    border-bottom: 1px solid var(--color-gray-3);
    border-right: 1px solid var(--color-gray-3);
    padding: 6px;

    &.alt-bg {
      background: var(--color-gray-5);
    }
  }
}
