.newsletter-modal {
  align-items: center;
  background: rgba($color: #000000, $alpha: 0.3);
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 2;

  &__content {
    background: var(--color-white);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 540px;
    padding: 76px 50px;
    position: relative;
    text-align: center;

    @media (max-width: 500px) {
      padding: 60px 15px;
    }

    * {
      align-self: center;
    }

    .Icon {
      position: absolute;
      right: 17px;
      top: 17px;
    }
  }

  &__title {
    margin-bottom: 16px;
  }
}
