.Newsletter {
  &__content {
    align-items: center;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    overflow: visible;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;

    & > * {
      height: 40px;
    }
  }

  .FormFieldComponent__error-message {
    color: var(--color-danger);
    text-align: start;
  }

  &__title {
    margin-bottom: 16px;
  }

  .FormInput {
    width: 240px;

    @media (max-width: 500px) {
      width: 100%;
    }
  }

  .FormField {
    border: 1px solid #a3acb9;
    border-radius: 3px;
    height: 100%;
    padding: 8px;
    width: 100%;
  }

  button {
    margin-left: 16px;

    @media (max-width: 500px) {
      margin-left: 0;
      margin-top: 25px;
      width: 100%;
    }
  }
}
