@import 'styles/font-mixins';

$top-nav-height: 60px;

.FaqDropdownCard {
  $self: &;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 0 24px 0 rgba(229, 234, 244, 0.58);
  min-height: 80px;
  padding: 24px;
  position: relative;

  &__dropdown-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__anchor {
    position: absolute;
    top: #{-$top-nav-height};
  }

  &__answer {
    @extend %h3;
    color: var(--color-sail-gray-500);
    display: none;
    font-weight: var(--font-weight-regular);

    &--expanded {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }
  }

  &__HashLink {
    @extend %h3;
    display: none;
    margin-left: 8px;
  }

  &__left-container {
    align-items: center;
    display: flex;

    @media (max-width: 700px) {
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
    }

    &:hover {
      #{$self}__HashLink {
        display: inline;
      }
    }
  }

  &__toggle-icon {
    outline: none;

    &:focus {
      background-color: transparent;
    }
  }

  &__question {
    @extend %h3;
    color: var(--color-sail-gray-700);
    font-weight: var(--font-weight-medium);
  }
}
