@import '../../shared';
@import 'styles/z-index';

.ProjectDetailsHeader {
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: row;
  height: $details-header-height;
  padding: 47px;
  position: sticky;
  top: $top-nav-height;
  z-index: $z-index-project-header;

  @media (max-width: 480px) {
    align-items: center;
    flex-direction: column;
    height: $details-header-height-480;
    padding: 24px;
  }

  &__github-button {
    align-items: center;
    display: flex;
  }

  &__github-icon {
    margin-right: 6px;
  }

  &__left-container {
    align-items: center;
    display: flex;
    flex-direction: row;

    @media (max-width: 480px) {
      margin-bottom: 30px;
    }
  }

  &__main-container {
    display: flex;
    justify-content: space-between;
    margin-left: 22px;
    width: 100%;

    @media (max-width: 480px) {
      align-items: center;
      flex-direction: column;
      margin-left: 0;
    }
  }

  &__avatar {
    @media (max-width: 480px) {
      margin-bottom: 25px;
    }
  }

  &__title-container {
    display: flex;
    flex-direction: column;

    @media (max-width: 480px) {
      text-align: center;
    }
  }

  &__project-lead-container {
    -webkit-box-orient: vertical;
    // max one line to prevent it from affecting height of header
    display: -webkit-box;
    -webkit-line-clamp: 1; /* max number of lines to show */
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__project-lead {
    color: var(--color-sail-gray-300);
  }

  &__project-lead-name {
    color: var(--color-sail-gray-700);
  }

  &__project-title {
    color: var(--color-blue-900);
    margin-bottom: 10px;
  }
}
