.ProjectDetailsHeader {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: 47px 0;

  @media (max-width: 480px) {
    align-items: flex-start;
  }

  &__left-container {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &__main-container {
    display: flex;
    justify-content: space-between;
    margin-left: 22px;
    width: 100%;

    @media (max-width: 480px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__project-lead {
    color: var(--color-sail-gray-300);
  }

  &__project-lead-container {
    display: flex;
    gap: 5px;
  }

  &__project-lead-name {
    color: var(--color-sail-gray-700);
  }

  &__project-title {
    color: var(--color-blue-900);
  }
}
