.Transactions {
  img {
    &.transaction-diagram {
      max-width: 760px;
    }
    &.transaction-failed-diagram {
      max-width: 760px;
    }
    &.transaction-success-diagram {
      max-width: 760px;
    }
  }
}
