.Toast {
  border-left-style: solid;
  border-left-width: 3px;
  display: flex;
  padding: 12px;

  &--success {
    border-left-color: var(--color-tertiary);
  }

  &--warning {
    border-left-color: var(--color-danger);
  }

  &__icon {
    margin-right: 14px;

    &--success {
      color: var(--color-tertiary);
    }

    &--warning {
      color: var(--color-danger);
    }
  }

  &__text {
    color: var(--color-black);
    font-weight: 700;
  }
}
