.Contribute {
  display: flex;
  justify-content: center;
  padding: 48px;

  @media (max-width: 1200px) {
    flex-direction: column;
    padding: 36px;
  }

  img.arm {
    bottom: 0;
    max-height: 500px;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  .step-indicator {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 42px;

    .step-bubble {
      align-items: center;
      border-radius: 18px;
      display: flex;
      height: 36px;
      justify-content: center;
      margin-right: 18px;
      width: 36px;
    }
  }

  .step-one,
  .step-two {
    margin: 0 32px;
  }

  .step-one {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    .button-container {
      display: flex;
      flex-direction: column;
      padding-left: 54px;

      button,
      .MarketingButton {
        height: 36px;
        margin-bottom: 12px;
        width: 200px;
      }
    }
  }

  .step-two {
    display: flex;
    flex-direction: column;

    .navigation-section {
      display: flex;
      padding-left: 54px;

      @media (max-width: 1000px) {
        flex-direction: column;
      }

      .navigation-column {
        margin: 0 60px 54px 0;

        h2 {
          margin-bottom: 18px;
        }

        h2.development-heading {
          font-weight: 300;
          font-size: 36px;
          line-height: 1;
          margin-bottom: 36px;
        }

        a {
          color: #2462e7;
          display: block;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 6px;
          text-decoration: none;
        }

        .navigation-group {
          margin-bottom: 36px;
        }
      }
    }
  }
}
