.Contribute {
  display: flex;
  justify-content: center;
  padding: 48px;

  @media (max-width: 1200px) {
    flex-direction: row;
    padding: 36px;
  }

  &__arm {
    bottom: 0;
    max-height: 500px;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  @media (max-width: 500px) {
    &__arm {
      max-height: 250px;
      top: -20px;
    }
  }

  &__step-indicator {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 42px;
  }

  &__step-bubble {
    align-items: center;
    border-radius: 18px;
    display: flex;
    height: 36px;
    justify-content: center;
    margin-right: 18px;
    width: 36px;
    background-color: #1ea672 !important;
    color: #fff;
  }

  &__step-one,
  &__step-two {
    margin: 0 32px;
  }

  &__step-one {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  &__step-two {
    display: flex;
    flex-direction: column;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    padding-left: 54px;
  }

  &__doc-button,
  .MarketingButton {
    height: 36px;
    margin-bottom: 12px;
    width: 200px;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */

    text-align: center;
    text-transform: capitalize;
    font-feature-settings: 'cpsp' on;
  }

  &__navigation-section {
    display: flex;
    padding-left: 54px;

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }

  &__navigation-column {
    margin: 0 60px 54px 0;
  }

  &__navigation-column-header {
    font-weight: 300;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 36px;
  }

  &__a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  &__navigation-group {
    margin-bottom: 36px;
  }

  &__navigation-group-header {
    font-size: var(--font-size-medium);
    font-weight: 500;
    margin-bottom: 18px;
  }

  &__doc-button {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 3px #c2a2a4, 0px 4px 4px rgba(3, 33, 55, 0.25);

    svg {
      width: 24px;
      height: 24px;
      position: relative;
      top: -4px;
    }
  }

  @media (max-width: 769px) {
    flex-direction: column;
    padding: 36px 12px;

    &__step-one,
    &__step-two {
      margin: 0;
    }
  }
}
