.Profile {
  display: grid;
  font-size: var(--font-size-h4);
  grid-template-columns: 366px auto;
  grid-template-rows: fit-content(0) auto;
  overflow: hidden;
  padding-bottom: 30px;

  @media (max-width: 840px) {
    grid-template-columns: auto;
    grid-template-rows: fit-content(0) fit-content(0) auto;
  }

  &__left-section {
    background: var(--color-bg);
    border-radius: 12px;
    box-shadow: 0 0 3px rgba(85, 108, 214, 0.3);
    margin: 12px 0 36px 36px;
    padding-bottom: 30px;
    position: relative;

    @media (max-width: 840px) {
      margin: 36px 36px 0 36px;
    }

    @media (max-width: 480px) {
      border-radius: 0;
      margin: 0;
    }
  }

  &__loader {
    left: 50%;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -30%);
  }

  &__right-section {
    background: var(--color-bg);
    border-radius: 12px;
    box-shadow: 0 0 3px rgba(85, 108, 214, 0.3);
    margin: 12px 36px 36px 10px;
    padding-bottom: 30px;

    @media (max-width: 840px) {
      margin: 12px 36px 36px 36px;
    }

    @media (max-width: 480px) {
      border-radius: 0;
      margin: 12px 0 36px 0;
    }
  }
}
