.Profile {
  background: var(--color-gray-050);
  display: grid;
  font-size: var(--font-size-small-regular);
  grid-template-columns: 366px auto;
  grid-template-rows: fit-content(0) auto;
  overflow: hidden;
  padding-bottom: 30px;

  @media (max-width: 840px) {
    grid-template-columns: auto;
    grid-template-rows: fit-content(0) fit-content(0) auto;
  }

  &__left-section {
    background: var(--color-bg);
    border-radius: 12px;
    box-shadow: 0px 0px 3px rgba(85, 108, 214, 0.3);
    margin: 12px 0px 36px 36px;
    padding-bottom: 30px;

    @media (max-width: 840px) {
      margin: 36px 36px 0px 36px;
    }

    @media (max-width: 480px) {
      border-radius: 0px;
      margin: 0px;
    }
  }

  &__right-section {
    background: var(--color-bg);
    border-radius: 12px;
    box-shadow: 0px 0px 3px rgba(85, 108, 214, 0.3);
    margin: 12px 36px 36px 10px;
    padding-bottom: 30px;

    @media (max-width: 840px) {
      margin: 12px 36px 36px 36px;
    }

    @media (max-width: 480px) {
      border-radius: 0px;
      margin: 12px 0px 36px 0px;
    }
  }
}
