.RecentlyPosted {
  overflow-x: hidden;
  padding: 32px 64px;
  position: relative;

  &__header {
    color: var(--color-gray-500);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    text-transform: uppercase;
  }

  &__comparison-cards-container {
    width: 690px;

    @media (max-width: 1200px) {
      width: unset;
    }
  }

  &__article {
    &-date,
    &-time {
      font-size: 12px;
      margin-bottom: 8px;
    }

    &-time {
      margin-left: 1rem;
    }

    &-container {
      display: flex;

      @media (max-width: 1200px) {
        display: block;
      }
    }

    &-banner {
      height: 180px;
      width: 280px;

      &-image {
        border-radius: 8px;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }

      @media (max-width: 768px) {
        max-width: 220px;
      }
    }

    &-title {
      color: var(--color-black);
      font-size: 16px;
      line-height: 1.3;
      margin: 1rem 0;
    }

    &-wrapper {
      color: var(--color-gray-500);
    }
  }

  &__slider-container {
    display: flex;
    max-width: 100%;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__author {
    &-name {
      font-size: 12px;
    }

    &-wrapper {
      align-items: center;
      display: flex;
      margin-bottom: 0.5rem;
    }
  }

  &__summary-snippet-container {
    margin-right: 70px;
    width: 420px;

    @media (max-width: 1200px) {
      margin-right: 0;
      width: unset;
    }
  }

  &__text-snippets {
    margin-top: 30px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__title {
    font-family: var(--font-family-inter-bold);
    font-size: 36px;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 30px;
    max-width: 290px;

    @media (max-width: 1200px) {
      max-width: unset;
    }
  }

  @media (max-width: 768px) {
    padding: 16px;
  }

  @media (max-width: 480px) {
    margin: 0;
  }
}
