.sprite-AppStore {
  background-image: url(../../assets/logos-sprite.png);
  background-position: ((-341 / (405 - 26)) * -100%) ((-296 / (324 - 26)) * -100%);
  background-size: ((405 / 26) * 100%) ((324 / 26) * 100%);
  height: 26px;
  width: 26px;
}
.sprite-Chrome {
  background-image: url(../../assets/logos-sprite.png);
  background-position: ((-341 / (405 - 30)) * -100%) ((-264 / (324 - 30)) * -100%);
  background-size: ((405 / 30) * 100%) ((324 / 30) * 100%);
  height: 30px;
  width: 30px;
}
.sprite-Discord {
  background-image: url(../../assets/logos-sprite.png);
  background-position: ((0 / (405 - 205)) * -100%) ((0 / (324 - 205)) * -100%);
  background-size: ((405 / 205) * 100%) ((324 / 205) * 100%);
  height: 205px;
  width: 205px;
}
.sprite-Docs {
  background-image: url(../../assets/logos-sprite.png);
  background-position: ((-373 / (405 - 30)) * -100%) ((-264 / (324 - 30)) * -100%);
  background-size: ((405 / 30) * 100%) ((324 / 30) * 100%);
  height: 30px;
  width: 30px;
}
.sprite-Facebook {
  background-image: url(../../assets/logos-sprite.png);
  background-position: ((-207 / (405 - 64)) * -100%) ((-134 / (324 - 64)) * -100%);
  background-size: ((405 / 64) * 100%) ((324 / 64) * 100%);
  height: 64px;
  width: 64px;
}
.sprite-Figma {
  background-image: url(../../assets/logos-sprite.png);
  background-position: ((-276 / (405 - 21)) * -100%) ((-239 / (324 - 32)) * -100%);
  background-size: ((405 / 21) * 100%) ((324 / 32) * 100%);
  height: 32px;
  width: 21px;
}
.sprite-GitHub {
  background-image: url(../../assets/logos-sprite.png);
  background-position: ((-273 / (405 - 64)) * -100%) ((-134 / (324 - 64)) * -100%);
  background-size: ((405 / 64) * 100%) ((324 / 64) * 100%);
  height: 64px;
  width: 64px;
}
.sprite-Instagram {
  background-image: url(../../assets/logos-sprite.png);
  background-position: ((-207 / (405 - 132)) * -100%) ((0 / (324 - 132)) * -100%);
  background-size: ((405 / 132) * 100%) ((324 / 132) * 100%);
  height: 132px;
  width: 132px;
}
.sprite-LinkedIn {
  background-image: url(../../assets/logos-sprite.png);
  background-position: ((-341 / (405 - 64)) * -100%) ((0 / (324 - 64)) * -100%);
  background-size: ((405 / 64) * 100%) ((324 / 64) * 100%);
  height: 64px;
  width: 64px;
}
.sprite-Pinterest {
  background-image: url(../../assets/logos-sprite.png);
  background-position: ((-102 / (405 - 85)) * -100%) ((-207 / (324 - 85)) * -100%);
  background-size: ((405 / 85) * 100%) ((324 / 85) * 100%);
  height: 85px;
  width: 85px;
}
.sprite-PlayStore {
  background-image: url(../../assets/logos-sprite.png);
  background-position: ((-276 / (405 - 30)) * -100%) ((-207 / (324 - 30)) * -100%);
  background-size: ((405 / 30) * 100%) ((324 / 30) * 100%);
  height: 30px;
  width: 30px;
}
.sprite-Reddit {
  background-image: url(../../assets/logos-sprite.png);
  background-position: ((-341 / (405 - 64)) * -100%) ((-66 / (324 - 64)) * -100%);
  background-size: ((405 / 64) * 100%) ((324 / 64) * 100%);
  height: 64px;
  width: 64px;
}
.sprite-TNBGaming {
  background-image: url(../../assets/logos-sprite.png);
  background-position: ((-189 / (405 - 85)) * -100%) ((-207 / (324 - 85)) * -100%);
  background-size: ((405 / 85) * 100%) ((324 / 85) * 100%);
  height: 85px;
  width: 85px;
}
.sprite-Twitch {
  background-image: url(../../assets/logos-sprite.png);
  background-position: ((0 / (405 - 100)) * -100%) ((-207 / (324 - 117)) * -100%);
  background-size: ((405 / 100) * 100%) ((324 / 117) * 100%);
  height: 117px;
  width: 100px;
}
.sprite-Twitter {
  background-image: url(../../assets/logos-sprite.png);
  background-position: ((-341 / (405 - 64)) * -100%) ((-132 / (324 - 64)) * -100%);
  background-size: ((405 / 64) * 100%) ((324 / 64) * 100%);
  height: 64px;
  width: 64px;
}
.sprite-YouTube {
  background-image: url(../../assets/logos-sprite.png);
  background-position: ((-341 / (405 - 64)) * -100%) ((-198 / (324 - 64)) * -100%);
  background-size: ((405 / 64) * 100%) ((324 / 64) * 100%);
  height: 64px;
  width: 64px;
}
