.MarketingButtonCircular {
  align-items: center;
  display: flex;
  justify-content: center;
  outline: 0;

  // based on --color-primary
  &__img {
    max-width: 60px;
    filter: invert(13%) sepia(20%) saturate(1646%) hue-rotate(160deg) brightness(97%) contrast(105%)
      drop-shadow(0px 4px 5px #b3b3b3);
  }

  // based on --color-primary-hover
  &__img:hover {
    filter: invert(14%) sepia(43%) saturate(6102%) hue-rotate(195deg) brightness(91%) contrast(95%);
  }
}
