@import 'styles/font-mixins';

.ProjectDetails {
  background-color: var(--color-white);
  margin-bottom: 160px;

  &__main-container {
    display: flex;
    flex-direction: row;
  }

  &__main-content {
    background-color: var(--color-white);
    box-shadow: 0 8px 88px 0 #0000000d;
    margin-bottom: 120px;
    padding: 32px;
  }

  &__milestone {
    color: var(--color-sail-gray-600);
  }

  &__milestone-description {
    @extend %h3;
    color: var(--color-sail-gray-600);
    font-weight: var(--font-weight-regular);
    margin-bottom: 40px;
    white-space: pre-line;
  }

  &__milestone-number {
    font-weight: var(--font-weight-bold);
    margin-bottom: 8px;
  }
}
