$gray-400: #8792a2;

.ActiveArticle {
  background-color: transparent;
  flex: 3;
  height: 468px;
  position: relative;
  width: 100%;

  @media (max-width: 992px) {
    margin-bottom: 64px;
  }

  @media (max-width: 768px) {
    margin-bottom: 0;
    padding: 0 16px;
  }

  &__banner-overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: 0;

    @media (max-width: 768px) {
      left: 16px;
      right: 16px;
    }
  }

  &__container {
    bottom: 0;
    color: #fff;
    padding: 1rem;
    position: absolute;
  }

  &__title {
    color: white;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 1.5rem;
    max-width: 480px;
  }

  &__user,
  &__date,
  &__time {
    font-size: 12px;
    margin-bottom: 8px;
  }

  &__date {
    margin: 0;
  }

  &__time {
    margin-left: 1rem;
  }
}
