.ButtonWebsite {
  $self: &;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  min-height: 40px;
  padding: 11px 20px;
  transition: all 0.1s;

  &--disabled {
    cursor: auto;
  }

  &--contained {
    color: var(--color-white);

    &#{$self}--primary {
      background: var(--color-primary);
      border-color: var(--color-primary);

      &:hover {
        background: var(--color-white);
        border: 2px solid var(--color-primary);
        color: var(--color-primary);
      }

      &#{$self}--disabled,
      &#{$self}--disabled:hover {
        background: var(--color-primary-disabled);
        border-color: var(--color-primary-disabled);
        color: var(--color-white);
      }
    }

    &#{$self}--secondary {
      background: var(--color-secondary);
      border-color: var(--color-secondary);

      &:hover {
        background: var(--color-secondary);
        border-color: var(--color-secondary);
      }
    }

    &#{$self}--tertiary {
      background: var(--color-tertiary);
      border-color: var(--color-tertiary);

      &:hover {
        background: var(--color-tertiary);
        border-color: var(--color-tertiary);
      }
    }
  }

  &--outlined {
    background: var(--color-white);

    &#{$self}--primary {
      border-color: var(--color-white);
      color: var(--color-primary);

      &:hover {
        background: var(--color-white);
      }

      &#{$self}--disabled,
      &#{$self}--disabled:hover {
        background: var(--color-gray-050);
        border-color: var(--color-gray-050);
        color: var(--color-gray-200);
      }
    }

    &#{$self}--secondary {
      border-color: var(--color-secondary);
      color: var(--color-secondary);

      &:hover {
        border-color: var(--color-secondary);
        color: var(--color-secondary);
      }
    }

    &#{$self}--tertiary {
      border-color: var(--color-tertiary);
      color: var(--color-tertiary);

      &:hover {
        border-color: var(--color-tertiary);
        color: var(--color-tertiary);
      }
    }
  }

  &--link {
    background: transparent;
    border-color: transparent;

    &:hover {
      text-decoration: underline;
    }

    &#{$self}--primary {
      color: var(--color-primary);

      &#{$self}--disabled,
      &#{$self}--disabled:hover {
        color: var(--color-primary);
        text-decoration: none;
      }
    }
  }
}
