.TopNav {
  align-items: center;
  background: white;
  display: flex;
  height: 60px;

  &__dropdown-menu {
    background: #fff;
    box-shadow: 0 3px 3px rgba(4, 34, 53, 0.06);
    position: absolute;
    right: 0;
    top: 60px;
    width: 100vw;
    z-index: 2;
  }

  &__dropdown-menu-item {
    color: #8792a2;
    display: block;
    padding: 6px 0;
    transition: color 0.1s ease;

    &:hover {
      color: var(--color-primary);
    }
  }

  &__dropdown-menu-item-container {
    cursor: auto;
    padding: 32px;
  }

  &__left {
    align-items: center;
    display: flex;
    height: 100%;
  }

  &__right {
    align-items: center;
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: flex-end;
  }

  &__right-menu-toggle-container {
    align-items: center;
    cursor: pointer;
    display: none;
    height: 100%;
    padding: 0 12px;
    position: relative;

    &:focus {
      outline: 0;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.02);
    }
  }

  &__tnb-logo-nav {
    align-items: center;
    background-color: transparent;
    border-right: none;
    display: flex;
    font-family: var(--font-family-mono);
    font-size: 16px;
    font-weight: 700;
    margin-left: 12px;
    padding: 8px 0;
  }

  &__tnb-logo {
    height: 24px;
    margin-right: 6px;
  }

  @media (max-width: 768px) {
    &__right-menu-toggle-container {
      display: flex;
    }
  }
}
