.AccountTestModal {
    &__radio-container {
        margin-bottom: 24px;
    }
    &__header {
        background-color: white;
        padding: 18px;
    }
    &__content {
        background-color: #F7FAFC;
        padding: 18px;
    }
    &__footer {
        background-color: white;
        padding: 18px;
    }
}
