button {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  color: var(--color-white);
  cursor: pointer;
  outline: none;
  padding: 9px 12px;
  transition: all 0.3s;

  &.primary {
    background: var(--color-primary);
    border-color: var(--color-primary);

    &:hover {
      background: var(--color-primary-dark);
      border-color: var(--color-primary-dark);
    }
  }

  &.secondary {
    background: var(--color-secondary);
    border-color: var(--color-secondary);

    &:hover {
      background: var(--color-secondary);
      border-color: var(--color-secondary);
    }
  }

  &.tertiary {
    background: var(--color-tertiary);
    border-color: var(--color-tertiary);

    &:hover {
      background: var(--color-tertiary);
      border-color: var(--color-tertiary);
    }
  }
}
