pre {
  font-family: var(--font-family-mono);
  font-size: 13px;
  line-height: 1.4;
  margin: 0 0 24px 0;

  code {
    font-family: var(--font-family-mono);
    font-size: 13px;
    line-height: 1.4;
  }
}
