:root {
  --color-bg: #fff;
  --color-primary: #042235;
  --color-primary-hover: #06457a;
  --color-primary-disabled: #e6bfc1;
  --color-primary-disabled-text: #f4c2c4;
  --color-primary-disabled-fill: #fff9f9;
  --color-primary-outline-bg: #ffe7e7;
  --color-secondary: #556cd6;
  --color-secondary-outline-bg: #deebff;
  --color-tertiary: #1ea672;
  --color-black: black;
  --color-danger: #d30c15;
  --color-blue-gray-100: #cfd8dc;
  --color-blue-gray-200: #b0bec5;
  --color-blue-gray-300: #90a4ae;
  --color-blue-gray-400: #78909c;
  --color-blue-gray-500: #607d8b;
  --color-blue-gray-50: #eceff1;
  --color-blue-gray-600: #546e7a;
  --color-blue-gray-700: #455a64;
  --color-blue-gray-800: #37474f;
  --color-blue-gray-900: #263238;
  --color-github-blue: #0366d6;
  --color-gray-1: #333333;
  --color-gray-2: #4f4f4f;
  --color-gray-3: #828282;
  --color-gray-4: #e0e0e0;
  --color-gray-5: #ededed;
  --color-gray-6: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #eeeeee;
  --color-neutral-300: #e0e0e0;
  --color-neutral-400: #bdbdbd;
  --color-neutral-500: #9e9e9e;
  --color-neutral-50: #fafafa;
  --color-neutral-600: #757575;
  --color-neutral-700: #616161;
  --color-neutral-800: #424242;
  --color-neutral-900: #212121;
  --color-sail-gray-900: #042235;
  --color-sail-gray-700: #3c4257;
  --color-sail-gray-500: #697386;
  --color-sail-gray-400: #8792a2;
  --color-sail-gray-300: #a3acb9;
  --color-sail-gray-100: #e3e8ee;
  --color-sail-gray-50: #f7fafc;
  --color-sail-green-500: #09825d;
  --color-sail-blue-900: #131f41;
  --color-sail-blue-300: #7dabf8;
  --color-white: white;
}
