:root {
  --color-bg: #fff;
  --color-primary: #d30c15;
  --color-primary-dark: #9b0007;
  --color-primary-disabled: #e6bfc1;
  --color-primary-disabled-text: #f4c2c4;
  --color-primary-disabled-fill: #fff9f9;
  --color-primary-outline-bg: #ffe7e7;
  --color-secondary: #1562d1;
  --color-secondary-outline-bg: #deebff;
  --color-tertiary: #108118;
  --color-black: black;
  --color-danger: #d30c15;
  --color-gray-1: #333333;
  --color-gray-2: #4f4f4f;
  --color-gray-3: #828282;
  --color-gray-4: #e0e0e0;
  --color-gray-5: #ededed;
  --color-gray-6: #fafafa;
  --color-white: white;
}
