* {
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  color: var(--color-gray-2);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-gray-1);
  margin: 0;
}

p {
  margin: 0 0 20px 0;
}

ol,
ul {
  margin: 0;
  padding-inline-start: 32px;
}
