@font-face {
  font-family: 'JetBrainsMono';
  src: url('./fonts/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('./fonts/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('./fonts/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

:root {
  --font-family-mono: 'JetBrainsMono', monospace;
  --font-family-mono-roboto: 'Roboto Mono', monospace;
  --font-size-large: 24px;
  --font-size-medium: 20px;
  --font-size-regular: 14px;
  --font-size-small: 12px;
}
