@font-face {
  font-family: Inter;
  font-weight: 300;
  src: url('./fonts/Inter/ttf/Inter-Light.ttf') format('truetype'),
    url('./fonts/Inter/web/woff/Inter-Light.woff') format('woff'),
    url('./fonts/Inter/web/woff2/Inter-Light.woff2') format('woff2');
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url('./fonts/Inter/ttf/Inter-Regular.ttf') format('truetype'),
    url('./fonts/Inter/web/woff/Inter-Regular.woff') format('woff'),
    url('./fonts/Inter/web/woff2/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url('./fonts/Inter/ttf/Inter-Medium.ttf') format('truetype'),
    url('./fonts/Inter/web/woff/Inter-Medium.woff') format('woff'),
    url('./fonts/Inter/web/woff2/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Inter;
  font-weight: 800;
  src: url('./fonts/Inter/ttf/Inter-Bold.ttf') format('truetype'),
    url('./fonts/Inter/web/woff/Inter-Bold.woff') format('woff'),
    url('./fonts/Inter/web/woff2/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-family: JetBrainsMono;
  src: url('./fonts/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('./fonts/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('./fonts/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

:root {
  --font-family-default: Inter, sans-serif;
  --font-family-mono-roboto: 'Roboto Mono', monospace;
  --font-family-mono: JetBrainsMono, monospace;
  --font-size-large: 24px;
  --font-size-medium: 20px;
  --font-size-regular: 16px;
  --font-size-small-regular: 14px;
  --font-size-small: 12px;
}
