@mixin word-wrap {
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

@mixin single-media-query($property, $value) {
  @media only screen and (#{$property}: #{$value}) {
    @content;
  }
}
