@mixin word-wrap {
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

@mixin top-nav-button {
  align-items: center;
  background: transparent;
  border: none;
  color: var(--color-sail-gray-500);
  cursor: pointer;
  display: flex;
  font-weight: var(--font-weight-medium);
  justify-content: center;
  transition: color 0.1s ease;

  &:hover {
    color: var(--color-primary);
  }

  &--active {
    color: var(--color-primary);
  }
}
