table {
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  margin: 0 0 20px 0;

  tr {
    td {
      padding: 2px 8px;
      vertical-align: top;
    }
  }

  &.glossary {
    tr {
      &:nth-child(odd) {
        background-color: #f6f6f6;
      }

      td:first-child {
        font-weight: 700;
        padding-right: 16px;
        white-space: nowrap;
      }
    }
  }

  &.request-params {
    tr {
      &:nth-child(odd) {
        background-color: #f6f6f6;
      }

      td:first-child {
        font-family: var(--font-family-mono-roboto);
        font-weight: 700;
        padding-right: 12px;
        white-space: nowrap;

        .data-type {
          color: #9b9b9b;
          font-family: var(--font-family-mono-roboto);
          font-size: 12px;
          font-weight: 400;
          padding-left: 6px;
        }
      }
    }
  }
}
