$z-index-webmap: 0;

$z-index-project-header: 1;

$z-index-breadcrumb: 2;
$z-index-go-to-top: 2;
$z-index-layout: 2;
$z-index-modal: 2;
$z-index-slideup-overlay: 2;
$z-index-slideup: 2;
$z-index-top-nav-mobile-overlay: 2;

$z-index-top-nav-mobile-dropdown: 3;

$z-index-top-nav: 4;
$z-index-top-nav-mobile-button: 4;

$z-index-slideup-root: 150;

$z-index-popover-root: 200;

$z-index-whitepaper-top-links: 1;
$z-index-whitepaper-breadcrumb: 1;
$z-index-whitepaper-sidemenu: 0;
