.Download {
  padding: 60px 120px;
  position: relative;

  @media (max-width: 768px) {
    padding: 30px 60px;
  }

  &__tab-panel {
    margin-top: 43px;
  }

  &__download-button {
    align-items: center;
    display: flex;
    margin-bottom: 43px;
  }

  &__download-icon {
    margin-left: 12px;
  }

  &__latest-version {
    position: absolute;
    right: 120px;

    @media (max-width: 768px) {
      right: unset;
      left: 60px;
      top: 82px;
    }
  }

  .instruction-container {
    counter-reset: instruction;

    &__instruction {
      margin-top: 7px;
    }

    &__li {
      display: flex;
      margin-bottom: 18px;

      &::before {
        align-items: center;
        background: var(--color-tertiary);
        border-radius: 50%;
        color: var(--color-white);
        content: counter(instruction);
        counter-increment: instruction;
        display: inline-flex;
        flex-shrink: 0;
        font-size: var(--font-size-medium);
        font-weight: 800;
        height: 36px;
        justify-content: center;
        margin-right: 18px;
        width: 36px;
      }
    }

    &__title {
      font-size: 20px;
      font-weight: 800;
      margin-bottom: 30px;
    }
  }
}