.Download {
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin: 5% auto;
  position: relative;

  @media (max-width: 480px) {
    width: 100%;
    margin: 5% auto;
    padding: 0px;
  }

  &__tab-panel {
    @media (max-width: 480px) {
      margin-top: 2vw;
    }
  }

  &__download-button {
    align-items: center;
    display: flex;

    @media (max-width: 600px) {
      margin: 0 auto;
    }
  }

  &__download-icon {
    margin-left: 12px;
  }

  &__latest-version {
    text-align: end;
    padding: 1% 0;

    @media (max-width: 600px) {
      text-align: center;
      padding: 2% 0;
      margin-top: 4%;
    }
  }

  .instruction-container {
    counter-reset: instruction;

    @media (max-width: 600px) {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 3vh;
      display: flex;
      flex-direction: column;
    }

    &__li {
      display: flex;
      align-items: center;
      margin: 1.5vh 0;
      width: 85%;

      span {
        margin-left: 2vw;

        @media (max-width: 480px) {
          margin-left: 4vw;
        }
      }

      &::before {
        align-items: center;
        background: var(--color-tertiary);
        border-radius: 50%;
        color: var(--color-white);
        content: counter(instruction);
        counter-increment: instruction;
        display: inline-flex;
        flex-shrink: 0;
        font-size: var(--font-size-medium);
        font-weight: 800;
        justify-content: center;
        width: 36px;
        height: 36px;

        @media (max-width: 480px) {
          margin-left: 7.5%;
        }
      }
    }

    &__title {
      font-size: 20px;
      font-weight: 800;
      margin-top: 6vh;
      margin-bottom: 3vh;
      text-align: start;

      @media (max-width: 600px) {
        text-align: center;
      }
    }
  }

  .CodeSnippet {
    margin: 2vh 0;
    @media (max-width: 480px) {
      width: 85%;
      margin: 1vh 0;
      margin-left: 7.5%;
    }
  }
}
