@import 'styles/font-mixins';

$top-nav-height: 60px;

.Download {
  @media (max-width: 480px) {
    margin: 5% auto;
    padding: 0;
    width: 100%;
  }

  &__ticker {
    &-container {
      background-color: var(--color-neutral-075);
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &-content {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      max-width: 1366px;
      min-height: 88px;
      width: 100%;

      @media (max-width: 1366px) {
        padding: 0px 48px;
      }

      @media (max-width: 768px) {
        flex-direction: column;
        min-height: 148px;
        padding: 24px 48px;
      }

      @media (max-width: 414px) {
        padding: 24px 24px;
      }
    }

    &-left {
      @extend %h4;
      align-items: center;
      color: var(--color-neutral-900);
      display: flex;
      font-weight: var(--font-weight-bold);
    }
  }

  &__loading-container {
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: center;
    width: 100%;
  }

  &__main-background {
    align-self: center;
    background-color: var(--color-gray-050);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px 0px 56px;

    @media (max-width: 992px) {
      padding: 16px 0px 24px;
    }
  }

  &__title {
    @extend %display2;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 16px;
    text-align: center;
  }

  &__subtitle {
    @extend %body1;
    color: var(--color-gray-500);
    font-weight: var(--font-weight-regular);
    margin-bottom: 16px;
    text-align: center;
  }

  &__latest-release {
    @extend %h4;
    color: var(--color-gray-500);
    font-weight: var(--font-weight-medium);
    margin-bottom: 26px;
    text-transform: uppercase;
  }

  &__buttons-container {
    display: flex;
    margin-bottom: 74px;
  }

  &__buttons--release {
    color: var(--color-secondary);
    cursor: pointer;
    margin-right: 48px;
    outline: none;
  }

  &__cards-container {
    display: grid;
    grid-column-gap: 32px;
    grid-row-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @media (max-width: 1366px) {
      padding: 0 24px;
    }

    @media (max-width: 992px) {
      grid-column-gap: 16px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }

  &__card {
    align-items: center;
    background-color: var(--color-white);
    border-radius: 12px;
    box-shadow: 0 0 30px 0 rgba(229, 234, 244, 0.48);
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    padding: 48px;

    @media (max-width: 992px) {
      padding: 24px;
    }

    @media (max-width: 768px) {
      max-width: 100vw;
      padding: 48px 32px;
    }
  }

  &__card-title {
    @extend %h1;
    font-weight: var(--font-weight-bold);
    margin: 16px 0 48px 0;
  }

  &__download-button {
    align-items: center;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    width: 100%;
  }

  &__download-link {
    margin-bottom: 48px;
    width: 100%;
  }

  .instruction-container {
    width: 100%;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }

    &__ol {
      padding-inline-start: 16px;
    }

    &__li {
      @extend %body1;
      color: var(--color-gray-500);
    }

    &__title {
      @extend %h4;
      color: var(--color-gray-500);
      font-weight: var(--font-weight-bold);
      margin-bottom: 16px;
    }
  }

  &__release-notes {
    @media (max-width: 1366px) {
      padding: 0 24px;
    }
  }

  &__release-notes-anchor {
    display: none;
    top: #{-$top-nav-height};
  }

  .CodeSnippet {
    @extend %body1;
    font-weight: var(--font-size-regular);

    @media (max-width: 768px) {
      pre {
        max-width: calc(100vw - 240px);
      }
    }
  }
}
