@import 'styles/font-mixins';

.ProjectDetailsTopic {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin-bottom: 120px;

  @media (max-width: 480px) {
    flex-direction: column;
  }

  &__icon {
    margin-right: 32px;

    @media (max-width: 480px) {
      margin-bottom: 15px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__content-main {
    @extend %h3;
    white-space: pre-line;
  }

  &__content-overview {
    color: var(--color-sail-gray-500);
    font-weight: var(--font-weight-regular);
    margin-bottom: 32px;
    @extend %body1;
  }

  &__content-title {
    color: var(--color-sail-blue-900);
    font-weight: var(--font-weight-bold);
    margin-bottom: 8px;
  }

  &__content-main {
    color: var(--color-sail-gray-600);
    font-weight: var(--font-weight-regular);
    @extend %h3;
  }
}
