.Social {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 32px;

  &__button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -6px;
    max-width: 576px;
  }

  &__doc-button,
  .MarketingButton {
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(156, 156, 156, 0.3);
    height: 120px;
    margin: 6px;
    width: 180px;

    &__img {
      max-width: 105px;
    }
  }

  &__heading {
    font-size: 36px;
    font-weight: 800;
    line-height: 1.25;
    margin-bottom: 30px;
    text-align: center;
  }

  &__subtext {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-light);
    line-height: 1.5;
    margin-bottom: 60px;
    max-width: 425px;
    text-align: center;
  }
}
