@import 'styles/font-mixins';

.DocumentationSitemap {
  background: url('./background-pattern.webp');
  background-position: center;
  background-size: cover;

  &__container {
    padding: 72px 0;
    text-align: center;

    @media (max-width: 1366px) {
      padding: 48px 48px;
    }

    @media (max-width: 768px) {
      padding: 24px 24px;
    }
  }

  &__title {
    @extend %display2;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 48px;
  }

  &__topics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__topic-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 0;
    text-align: start;

    width: 240px;

    @media (max-width: 992px) {
      padding: 0 32px;
      width: 165px;
    }

    @media (max-width: 768px) {
      &:not(:last-child) {
        margin-bottom: 70px;
      }

      &:last-child {
        margin-bottom: 146px;
      }
      width: 100%;
    }
  }

  &__topic-header {
    @extend %h3;
    font-weight: var(--font-weight-bold);
    margin-bottom: 16px;
  }

  &__link {
    @extend %body1;
    color: var(--color-gray-500);

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
