.StepIndicator {
  align-items: center;
  color: var(--color-white);
  display: flex;
  font-size: var(--font-size-medium);
  font-weight: 800;

  &__bubble {
    align-items: center;
    background-color: var(--color-tertiary);
    border-radius: 18px;
    display: flex;
    flex-shrink: 0;
    height: 36px;
    justify-content: center;
    margin-right: 12px;
    width: 36px;
  }
}
