.Teams {
  display: grid;
  grid-template-columns: 240px auto;
  height: 100%;
  overflow: hidden;

  &__BreadcrumbMenu {
    display: none;
  }

  &__left-menu {
    grid-column: 1 / span 1;
  }

  &__right-section {
    grid-column: 2 / span 1;
    overflow-y: auto;
    padding: 12px 40px 48px;
  }

  &__team-about {
    grid-area: 1 / 1 / 2 / 2;
  }

  &__team-responsibilities {
    grid-area: 1 / 2 / 2 / 2;
  }

  &__team-description {
    color: var(--color-sail-gray-900);
    font-size: 14px;
    line-height: 125%;
    margin-bottom: 24px;
  }

  &__team-details {
    overflow-y: auto;
    padding: 12px 0 48px;
  }

  &__team-heading {
    font-family: var(--font-family-inter-light);
    font-size: 36px;
    line-height: 1.25;
    margin: 16px 0 28px;
  }

  &__team-list {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 50% 50%;
  }

  &__team-overview {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 336px auto;

    & > div {
      background: #ffffff;
      border-radius: 12px;
      box-shadow: 0px 0px 3px rgba(85, 108, 214, 0.3);
      padding: 18px;
    }

    &-sub-heading {
      color: var(--color-sail-gray-900);
      font-size: 16px;
      font-weight: 500;
      line-height: 125%;
      margin-bottom: 30px;
    }
  }

  &__team-responsibilities {
    color: var(--color-sail-gray-900);

    &-item {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__team-social {
    align-items: center;
    display: flex;
    margin-bottom: 24px;

    &-icon {
      margin-right: 12px;
    }

    &-title {
      font-size: 14px;
      line-height: 125%;
      margin-bottom: 0;

      &--sail-gray {
        color: var(--color-sail-gray-900);
      }
    }
  }

  @media (max-width: 992px) {
    grid-template-columns: auto;
    grid-template-rows: fit-content(0) auto;

    &__BreadcrumbMenu {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
      display: block;
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    &__left-menu {
      display: none;
    }

    &__right-section {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      padding: 12px 12px 48px;
    }

    &__team-heading {
      margin: 16px 0;
    }

    &__team-list {
      grid-template-columns: auto;
    }
  }

  @media (max-width: 768px) {
    &__team-about {
      grid-area: 1 / 1 / 2 / 2;
    }

    &__team-overview {
      grid-template-columns: auto;
    }

    &__team-responsibilities {
      grid-area: 2 / 1 / 2 / 2;
    }
  }
}
