.Teams {
  $self: &;
  display: grid;
  grid-template-columns: 240px auto;
  height: 100%;
  overflow: hidden;

  &__back-container {
    align-items: center;
    color: var(--color-secondary);
    cursor: pointer;
    display: inline-flex;
    margin-bottom: 40px;

    &:hover #{$self}__back-text {
      text-decoration: underline;
    }
  }

  &__back-icon {
    margin-right: 15px;
  }

  &__BreadcrumbMenu {
    display: none;
  }

  &__left-menu {
    grid-column: 1 / span 1;
  }

  &__resources {
    &-item {
      display: block;
      margin-bottom: 16px;
    }
  }

  &__right-section {
    grid-column: 2 / span 1;
    overflow-y: auto;
    padding: 12px 40px 48px;
  }

  &__team-details {
    overflow-y: auto;
    padding: 12px 0 48px;
  }

  &__team-heading {
    font-family: var(--font-family-inter-light);
    font-size: 36px;
    line-height: 1.25;
    margin: 16px 0 28px;
  }

  &__team-list {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 50% 50%;
  }

  @media (max-width: 992px) {
    grid-template-columns: auto;
    grid-template-rows: fit-content(0) auto;

    &__BreadcrumbMenu {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
      display: block;
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    &__left-menu {
      display: none;
    }

    &__right-section {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      padding: 12px 12px 48px;
    }

    &__team-heading {
      margin: 16px 0;
    }

    &__team-list {
      grid-template-columns: auto;
    }
  }
}
