.TopNavPopoverButton {
  align-items: center;
  background: transparent;
  border: none;
  color: var(--color-sail-gray-500);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  justify-content: center;
  outline: none!important;
  transition: color 0.1s ease;

  &:hover {
    color: var(--color-primary);
  }

  &--active {
    color: var(--color-primary);
  }

  &__chevron-icon {
    margin-left: 3px;
    transition: transform 0.3s ease-in-out;

    &--open {
      transform: rotateX(180deg);
    }
  }

  &__Popover {
    padding: 18px;

    @media (max-width: 992px) {
      display: none;
    }
  }
}
