@import 'src/styles/mixins';
@import 'styles/font-mixins';

.Breadcrumb {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  min-height: 56px;

  @media (max-width: 1366px) {
    padding: 0 48px;
  }

  @media (max-width: 768px) {
    padding: 12px 24px;
  }

  &__link-container {
    align-items: center;
    color: var(--color-gray-400);
    display: flex;

    @media (max-width: 768px) {
      margin: 12px 0;
    }
  }

  &__link {
    @extend %h4;
    color: var(--color-gray-400);
    line-height: 14px; // allow text to be centered by setting line-height to be the same as font size
    text-align: left;

    &--active {
      color: var(--color-gray-600);
      font-weight: var(--font-weight-medium);
      text-align: left;
    }
  }

  &__icon {
    margin: 0 8px;
  }

  &__button {
    @include top-nav-button;
    display: flex;
    padding-left: 0;
  }

  &__Popover {
    padding: 16px;
    width: 240px;

    &-link {
      color: var(--color-gray-500);
      display: block;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
