.LeaderboardContributor {
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(85, 108, 214, 0.18);
  display: flex;
  font-size: var(--font-size-small);
  line-height: 125%;
  margin: 0 24px 12px;
  padding: 12px;

  &:focus {
    outline: none;
  }

  &:first-of-type {
    margin-top: 24px;
  }

  &:last-of-type {
    border-bottom: none;
  }

  &__account-details {
    display: flex;
    flex-direction: column;
    width: 240px;
  }

  &__ContributorTasks {
    flex: 1;
    margin-left: 32px;
  }

  &__CopyableAccountNumber {
    margin-top: 12px;
  }

  &__main-details {
    display: flex;
    justify-content: space-between;
  }

  &__qr-container {
    margin-top: 12px;
  }

  &__right {
    flex: 1;
    margin-left: 24px;
  }

  &__TotalAmount {
    align-items: flex-end;
    display: flex;
    flex-basis: 150px;
    flex-direction: column;
    line-height: 1;
    margin-left: 40px;
  }

  &__user-avatar {
    border-radius: 50%;
    height: auto;
    max-width: 178px;
  }

  &__user-avatar-container {
    position: relative;
  }

  &__user-avatar-rank {
    align-items: center;
    background-color: var(--color-sail-gray-100);
    border: 2px solid var(--color-white);
    border-radius: 50%;
    color: var(--color-primary);
    display: flex;
    font-size: 20px;
    height: 42px;
    justify-content: center;
    position: absolute;
    width: 42px;

    &--top-3 {
      background-color: var(--color-tertiary);
      color: var(--color-white);
    }
  }

  &__user-login {
    display: block;
    font-family: var(--font-family-inter-medium);
    font-size: 20px;
    font-weight: 500;
    line-height: 125%;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 1200px) {
    &__ContributorTasks {
      display: none;
    }
  }

  @media (max-width: 768px) {
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      transform: scale(1.006);
    }

    &__account-details {
      display: none;
    }

    &__ContributorTasks {
      display: none;
    }

    &__right {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    &__TotalAmount__amount {
      font-size: 14px;
      margin: 0;
    }

    &__TotalAmount__title {
      display: none;
    }

    &__user-avatar {
      max-width: 54px;
    }

    &__user-avatar-rank {
      font-size: 14px;
      height: 24px;
      width: 24px;
    }

    &__user-login {
      font-size: 14px;
    }
  }
}
