$content-padding: 60px 64px 128px 128px;

.Home {
  font-family: Helvetica, serif;

  .hero {
    display: flex;
    min-height: 700px;
    position: relative;

    svg.background-graphic {
      position: absolute;
      top: 0;
      z-index: -1;
    }

    &__left {
      align-items: center;
      display: flex;
      justify-content: center;
      max-width: 40%;
      padding: $content-padding;

      .content-container {
        h1 {
          font-size: 48px;
          font-weight: 300;
          line-height: 110%;
          color: #042235;
        }

        h2 {
          font-size: 16px;
          font-weight: normal;
          line-height: 150%;
          margin-top: 30px;
        }

        .marketing-buttons {
          display: flex;
          margin: 30px 0 0;

          .MarketingButton {
            width: 114px;

            &:first-of-type {
              margin-right: 12px;
            }
          }
        }
      }
    }

    &__right {
      align-items: center;
      display: flex;

      img.screenshot {
        max-height: 100%;
        max-width: 100%;

        @media (min-width: 769px) {
          margin-top: 50px;
        }
      }
    }

    @media (max-width: 1200px) {
      flex-direction: column;

      &__left {
        max-width: 100%;
        padding: 64px 64px 0 64px;

        .content-container {
          align-items: center;
          display: flex;
          flex-direction: column;
          text-align: center;
        }
      }

      &__right {
        img.screenshot {
          padding: 32px;
        }
      }
    }

    @media (max-width: 769px) {
      svg.background-graphic {
        position: absolute;
        top: 0;
        z-index: -1;
        height: 232px;
      }
      &__left {
        padding: 64px 12px 0 12px;

        .content-container {
          .marketing-buttons {
            margin: 30px auto 0 0;
          }
        }
      }
      &__right {
        img.screenshot {
          width: 932px;
          height: auto;
          max-height: unset;
          max-width: unset;
          padding: 40px 0 0 12px;
        }
      }
    }

    @media (min-width: 767px) and (max-width: 1024px) {
      .marketing-buttons {
        margin: 30px auto 0 !important;
      }
    }
  }

  .instant-transactions {
    background: #f6f9fc;
    display: flex;
    flex-direction: column;
    min-height: 1440px;
    position: relative;

    svg.background-graphic {
      display: block;
      width: 120%;
      z-index: 0;
      margin-top: -20rem;
    }

    .content-container {
      padding: $content-padding;
      width: 100%;
      z-index: 1;

      h1 {
        font-size: 36px;
        font-weight: bold;
        line-height: 120%;
        margin-top: 30px;
      }

      .comparison-card-container {
        display: flex;
        justify-content: center;
        margin-top: 60px;

        .arrow-container {
          align-items: center;
          display: flex;
          justify-content: center;
          width: 60px;
        }

        .comparison-card {
          background: white;
          border-radius: 12px;
          box-shadow: 0 20px 40px rgba(11, 38, 63, 0.15);
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-height: 390px;
          padding: 30px 32px 60px;
          width: 360px;

          img.crypto-logo {
            height: 30px;
          }

          .comparison-card-stat {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-top: 60px;

            .attribute {
              font-size: 20px;
              font-weight: 500;
              margin-top: 12px;
            }

            .value {
              font-size: 36px;
              font-weight: 300;
            }
          }
        }
      }

      .instant-transactions-mini {
        color: #556cd6;
        font-weight: 500;
        line-height: 120%;
      }

      .text-snippets {
        display: flex;
        margin-top: 30px;

        .left-block,
        .right-block {
          flex: 1;
          font-size: 16px;
          line-height: 150%;
        }

        .left-block {
          margin-right: 30px;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 3px #c2a2a4, 0px 4px 4px rgba(3, 33, 55, 0.25);

            svg {
              margin-left: 6px;
            }
          }

          @media (max-width: 769px) {
            a {
              position: absolute;
              bottom: 0;
            }
          }
        }

        .right-block {
          margin-left: 30px;
        }

        @media (max-width: 769px) {
          position: relative;
          padding-bottom: 46px;
        }
      }
    }

    @media (max-width: 1200px) {
      .content-container {
        padding: 64px;

        .comparison-card-container {
          align-items: center;
          flex-direction: column;

          .arrow-container {
            height: 60px;
            transform: rotate(90deg);
            width: auto;
          }
          .comparison-card {
            max-width: 360px;
          }
        }

        .text-snippets {
          flex-direction: column;

          .left-block {
            margin: 0 0 30px 0;
          }

          .right-block {
            margin: 0;
          }
        }
      }
    }

    @media (max-width: 769px) {
      .content-container {
        padding: 60px 12px;

        .comparison-card-container .comparison-card {
          width: 100%;
          margin: 12px;
        }
      }
      svg.background-graphic {
        margin-top: 112px;
        position: relative;
        width: 175%;
        top: -25rem;
        margin-bottom: -25rem;
      }
    }
  }
}
