$content-padding: 128px 64px 128px 128px;

.Home {
  font-family: Helvetica, serif;

  .hero {
    display: flex;
    min-height: 700px;
    position: relative;

    svg.background-graphic {
      position: absolute;
      top: 0;
      z-index: -1;
    }

    &__left {
      align-items: center;
      display: flex;
      justify-content: center;
      max-width: 40%;
      padding: $content-padding;

      .content-container {
        h1 {
          font-size: 48px;
          font-weight: 300;
          line-height: 110%;
        }

        h2 {
          font-size: 16px;
          font-weight: normal;
          line-height: 150%;
          margin-top: 30px;
        }

        .marketing-buttons {
          display: flex;
          margin: 30px 0 0;

          .MarketingButton {
            width: 114px;

            &:first-of-type {
              margin-right: 12px;
            }
          }
        }
      }
    }

    &__right {
      align-items: center;
      display: flex;

      img.screenshot {
        max-height: 100%;
        max-width: 100%;
      }
    }

    @media (max-width: 1200px) {
      flex-direction: column;

      &__left {
        max-width: 100%;
        padding: 64px 128px 0 128px;

        .content-container {
          align-items: center;
          display: flex;
          flex-direction: column;
          text-align: center;
        }
      }

      &__right {
        img.screenshot {
          padding: 64px;
        }
      }
    }
  }

  .instant-transactions {
    background: #f6f9fc;
    display: flex;
    min-height: 1440px;
    padding: $content-padding;
    position: relative;

    svg.background-graphic {
      bottom: 0;
      left: -2px;
      position: absolute;
      right: -2px;
    }

    .content-container {
      width: 100%;
      z-index: 1;

      h1 {
        font-size: 36px;
        font-weight: bold;
        line-height: 120%;
        margin-top: 30px;
      }

      .comparison-card-container {
        display: flex;
        justify-content: center;
        margin-top: 60px;

        .arrow-container {
          align-items: center;
          display: flex;
          justify-content: center;
          width: 60px;
        }

        .comparison-card {
          background: white;
          border-radius: 12px;
          box-shadow: 0 20px 40px rgba(11, 38, 63, 0.15);
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-height: 390px;
          padding: 30px 32px 60px;
          width: 360px;

          img.crypto-logo {
            height: 30px;
          }

          .comparison-card-stat {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-top: 60px;

            .attribute {
              font-size: 20px;
              font-weight: 500;
              margin-top: 12px;
            }

            .value {
              font-size: 36px;
              font-weight: 300;
            }
          }
        }
      }

      .instant-transactions-mini {
        color: #556cd6;
        font-weight: 500;
        line-height: 120%;
      }

      .text-snippets {
        display: flex;
        margin-top: 30px;

        .left-block,
        .right-block {
          flex: 1;
          font-size: 16px;
          line-height: 150%;
        }

        .left-block {
          margin-right: 30px;
        }

        .right-block {
          margin-left: 30px;
        }
      }
    }

    @media (max-width: 1200px) {
      padding: 128px;

      .content-container {
        .comparison-card-container {
          align-items: center;
          flex-direction: column;

          .arrow-container {
            height: 60px;
            transform: rotate(90deg);
            width: auto;
          }
        }

        .text-snippets {
          @media (max-width: 1200px) {
            flex-direction: column;

            .left-block {
              margin: 0 0 30px 0;
            }

            .right-block {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
