$section-padding: 24px 42px;

.Home {
  h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  p {
    margin: 0 0 12px 0;
  }

  .hero {
    line-height: 1.4;
    padding: 76px 12px;
    text-align: center;

    h1,
    h2 {
      font-family: var(--font-family-mono);
    }

    h1 {
      font-family: var(--font-family-roboto);
      font-size: 24px;
      font-weight: 300;
    }

    h2 {
      font-family: var(--font-family-roboto);
      font-size: 36px;
      font-weight: 300;
      margin-top: 2px;
    }

    .marketing-buttons {
      display: flex;
      justify-content: center;
      margin: 24px 0 0 0;

      .MarketingButton {
        margin: 0 8px;
      }
    }
  }

  .features {
    background: #2a2c34;
    display: flex;
    justify-content: space-evenly;
    padding: $section-padding;
  }

  .performance {
    display: flex;
    padding: 12px 42px;

    img.chart {
      height: 100%;
      margin-right: 24px;
      width: 280px;
    }

    .performance-text {
      margin-top: 24px;
    }

    @media (max-width: 760px) {
      flex-direction: column-reverse;

      img.chart {
        align-self: center;
        display: flex;
        margin: 0;
      }

      .performance-text {
        margin-top: 24px;
      }
    }
  }

  .security {
    display: flex;
    padding: $section-padding;

    img.key-pair {
      height: 100%;
      width: 400px;
    }

    @media (max-width: 760px) {
      flex-direction: column;

      img.key-pair {
        align-self: center;
        display: flex;
      }
    }
  }

  .trust {
    background: #e6e6e6;
    padding: $section-padding;
  }
}
