@import 'styles/font-mixins';

.HomeComparisonCards {
  display: flex;
  justify-content: center;
  margin-top: 60px;

  @media (max-width: 768px) {
    align-items: center;
    flex-direction: column;
  }

  &__card {
    background: var(--color-white);
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(85, 108, 214, 0.25);
    display: flex;
    flex-direction: column;
    height: 396px;
    padding: 30px 0;
    width: 300px;
  }

  &__crypto-logo {
    height: 30px;
  }

  &__stat {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 48px;

    &-attribute {
      @extend %h2;
      margin-top: 6px;
    }

    &-value {
      @extend %display2;
      font-weight: var(--light);
    }
  }

  &__versus-container {
    align-items: center;
    color: var(--color-sail-gray-500);
    display: flex;
    justify-content: center;
    width: 90px;

    @media (max-width: 768px) {
      height: 90px;
      width: auto;
    }
  }
}
