.Tasks {
  display: grid;
  grid-template-columns: 240px auto;
  height: 100%;
  overflow: hidden;

  &__BreadcrumbMenu {
    display: none;
  }

  &__LabelFilter {
    margin-left: 30px;
    margin-top: 16px;
  }

  &__left-menu {
    grid-column: 1 / span 1;
    overflow-y: auto;
  }

  &__loader-container {
    margin-top: 64px;
    height: 80vh;
  }

  &__task-list {
    grid-column: 2 / span 1;
    overflow-y: auto;
    padding: 12px 0 48px;
  }

  @media (max-width: 992px) {
    grid-template-columns: auto;
    grid-template-rows: fit-content(0) auto;

    &__BreadcrumbMenu {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
      display: block;
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    &__left-menu {
      display: none;
    }

    &__task-list {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }
}
