.AppDetails {
  &__slider {
    margin-bottom: 64px;
  }

  &__overview {
    margin-bottom: 88px;
  }

  &__loader {
    margin: 0 auto;
  }

  &__error {
    align-items: center;
    color: var(--color-danger);
    display: flex;
    height: 64px;
    justify-content: center;
  }
}
