// cards
$card-width-original: 373px;
$card-min-width-original: 290px;
$card-height-original: 376px;

$card-width-992: 432px;
$card-min-width-992: 330px;

$card-width-768: 320px;
$card-min-width-768: 200px;
$card-height-768: 262px;

$card-height-480: 324px;
