.SlideUpAccountDetails {
  &__CopyableAccountNumber {
    margin-top: 12px;
  }

  &__inner-wrapper {
    display: flex;
    justify-content: center;
  }

  &__qr-container {
    margin-top: 12px;
  }

  &__right {
    margin-left: 12px;
  }

  &__SlideUp {
    line-height: 1.25;
  }

  &__user-login {
    display: block;
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-semibold);
    line-height: 1.25;

    &:hover {
      text-decoration: underline;
    }
  }
}
