@import 'styles/font-mixins';

.AppDetailsOverview {
  @media (max-width: 1366px) {
    padding: 0 48px;
  }

  @media (max-width: 992px) {
    padding: 0 24px;
  }

  &__content {
    max-width: 730px;
  }

  &__title {
    @extend %h1;
    color: var(--color-neutral-900);
    font-weight: var(--font-weight-medium);
    margin-bottom: 24px;
  }

  &__description {
    @extend %body1;
    color: var(--color-gray-500);
    white-space: pre-wrap;
  }
}
