$item-padding: 10px 16px;

.LeftMenu {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 12px 0;

  background: #26252b;
  width: var(--layout-navigation-width, 256px);

  a {
    color: #fff;
    padding: $item-padding;
    text-decoration: none;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    &.active {
      background: rgba(255, 255, 255, 0.15);
    }
  }

  .heavy {
    font-weight: 500;
  }

  .menu-link {
    align-items: center;
    display: flex;

    .material-icons {
      font-size: 20px;
      opacity: 0.8;
      width: 32px;
    }
  }

  .LeftMenuGroup {
    .toggle {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: $item-padding;
      transition-duration: 0.2s;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }

      &.expanded {
        background: rgba(217, 15, 23, 0.5);

        .arrow {
          transform: rotate(90deg);
        }
      }

      .arrow {
        transform: rotate(0deg);
        transition-duration: 0.2s;
      }

      .left-elements {
        align-items: center;
        display: flex;

        .material-icons {
          font-size: 20px;
          opacity: 0.8;
          width: 32px;
        }
      }
    }

    .submenu {
      display: none;
      flex-direction: column;

      &.expanded {
        display: flex;
      }

      a {
        background: #1f1f1f;
        padding: 10px 16px 10px 48px;

        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }

        &.active {
          background: rgba(255, 255, 255, 0.15);
        }
      }
    }
  }
}
