$item-padding: 10px 16px;

.LeftMenu {
  display: flex;
  flex-direction: column;
  line-height: 120%;
  padding: 20px 0;

  a {
    padding: $item-padding;
    text-decoration: none;
  }

  .heavy {
    font-weight: 500;
  }

  .menu-link {
    align-items: center;
    display: flex;

    .react-icons {
      font-size: 20px;
      opacity: 0.8;
      width: 32px;
    }
  }
}
