.TopNav {
  align-items: center;
  background: white;
  display: flex;

  a,
  a:visited {
    border-right: 1px solid #e6e6e6;
    color: var(--color-text);
    padding: 12px 14px;
    text-decoration: none;

    &:hover {
      background-color: #f4f4f4;
    }

    &:nth-child(2) {
      border-left: 1px solid #e6e6e6;
    }

    &.active {
      background-color: #f4f4f4;
    }
  }

  .thenewboston {
    align-items: center;
    border-right: none;
    display: flex;
    font-family: var(--font-family-mono);
    font-weight: 700;
    padding: 0 8px;

    &.active {
      background-color: transparent;
    }

    img.logo {
      height: 24px;
      margin-right: 6px;
    }
  }
}
