.TopNav {
  align-items: center;
  background: white;
  display: flex;
  height: 46px;

  a,
  a:visited {
    color: var(--color-text);
    text-decoration: none;
  }

  .left-items {
    align-items: center;
    display: flex;
    height: 100%;

    .thenewboston {
      align-items: center;
      border-right: none;
      display: flex;
      font-family: var(--font-family-mono);
      font-size: 16px;
      font-weight: 700;
      margin-left: 12px;
      padding: 8px 0;

      &.active {
        background-color: transparent;
      }

      img.logo {
        height: 26px;
        margin-right: 6px;
      }
    }
  }

  .right-items {
    display: flex;
    flex: 1;
    justify-content: center;

    a {
      font-family: Helvetica Neue, serif;
      font-weight: 500;
      padding: 0 24px;
    }
  }
}
