.TopNav {
  align-items: center;

  display: flex;

  a,
  a:visited {
    border-right: 1px solid #e6e6e6;
    color: var(--color-text);
    padding: 12px 14px;
    text-decoration: none;

    &:hover {
      background-color: #ededed;
    }

    &.active {
      background-color: #ededed;
      font-weight: 600;
    }

    &:first-of-type {
      border-left: 1px solid #e6e6e6;
    }
  }

  .thenewboston {
    align-items: center;
    display: flex;
    font-weight: 300;
    padding: 0 8px;

    img.logo {
      height: 24px;
      margin-right: 6px;
    }
  }
}
