.quarters-row {
    flex: 12;
    padding: 1rem 0 2.5rem;
    .quarter {
        position: relative;
        .arrow {
            height: 2px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            background-color: #999999;
            &:after {
                content: ' ';
                border: 5px solid transparent;
                border-left-width: 10px;
                border-right-width: 10px;
                border-left-color: #999999;
                position: absolute;
                left: 100%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &:last-of-type {
            .arrow {
                display: none;
            }
        }
        .quarter-circle {
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: auto;
            .quarter-name {
                font-size: 16px;
                font-weight: bold;
                color: #ffffff;
            }
        }
        &:nth-of-type(2) .quarter-circle {
            background-color: #666666;
        }
        &:nth-of-type(3) .quarter-circle {
            background-color: #777777;
        }
        &:nth-of-type(4) .quarter-circle {
            background-color: #888888;
        }
        &:nth-of-type(5) .quarter-circle {
            background-color: #999999;
            .quarter-name {
                color: #000000
            }
        }
    }
}