.TopNav {
  align-items: center;
  background: white;
  display: flex;
  height: 46px;

  &__left {
    align-items: center;
    display: flex;
    height: 100%;
  }

  &__left-menu-toggle-container {
    align-items: center;
    border-right: 1px solid var(--color-gray-4);
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 0 12px;

    &:hover {
      background: rgba(0, 0, 0, 0.02);
    }
  }

  &__tnb-logo-nav {
    align-items: center;
    background-color: transparent;
    border-right: none;
    display: flex;
    font-family: var(--font-family-mono);
    font-size: 16px;
    font-weight: 700;
    margin-left: 12px;
    padding: 8px 0;
  }

  &__tnb-logo {
    height: 24px;
    margin-right: 6px;
  }

  &__right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  &__a,
  &__a:visited {
    color: var(--color-text);
    font-family: Helvetica Neue, serif;
    font-weight: 500;
    margin-left: 26px;
    text-decoration: none;

    &:last-of-type {
      margin-right: 12px;
    }
  }
}
