.Rules {
  &__heading {
    color: var(--color-gray-900);
    font-size: 36px;
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 16px;
  }

  &__list {
    &-heading {
      font-size: 24px;
      font-weight: 700;
      line-height: 120%;
      margin-bottom: 24px;

      &--green {
        color: var(--color-green-300);
      }

      &--red {
        color: var(--color-red-400);
      }
    }

    &-item {
      &::marker {
        font-weight: 700;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &-items {
      color: var(--color-gray-700);
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 8px;
      margin-top: 0;
      padding-inline-start: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__tagline {
    color: var(--color-gray-700);
    font-size: 16px;
    margin-bottom: 64px;
    margin-top: 0;
  }
}
