.DeveloperPortalLayout {
  &__main-content {
    display: flex;
    flex-direction: row;
  }

  &__left-content {
    width: 256px;

    @media (max-width: 1366px) {
      padding: 32px 48px;
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__right-content {
    border-left: 1px solid var(--color-gray-075);
    width: 100%;

    @media (max-width: 992px) {
      border-left: none;
    }
  }
}
