@import 'src/styles/mixins';
@import 'styles/font-mixins';

.TopNavPopover {
  @include top-nav-button;
  @extend %body1;
  color: var(--color-neutral-800);
  font-weight: var(--font-weight-regular);
  min-width: 120px; // explicitly set min width to prevent content shifting when font is bolded due to hover

  &--open {
    color: var(--color-neutral-900);
    font-weight: var(--font-weight-bold);
  }

  &__chevron-icon {
    margin-left: 3px;
    transition: transform 0.3s ease-in-out;

    &--open {
      transform: rotateX(180deg) translateZ(-1px);
    }
  }

  &__Popover {
    padding: 18px;

    @media (max-width: 1200px) {
      display: none;
    }
  }
}
