.EditModal {
  &__radio-container {
    margin-bottom: 24px;
  }
  &__header {
    background-color: white;
    padding: 18px;
  }
  &__content {
    background-color: #f7fafc;
    padding: 18px;
  }
  &__footer {
    background-color: white;
    padding: 18px;
  }
}
