.TransactionFees {
  table {
    tr {
      td {
        border: 1px solid #e6e6e6;
        min-width: 90px;

        &:first-child {
          font-weight: 700;
          padding-right: 16px;
          white-space: nowrap;
        }
      }
    }
  }

  .heavy {
    font-weight: 700;
  }

  .light {
    color: #9b9b9b;
  }

  .placeholder {
    font-style: italic;
  }
}
