.HomeInstantTransactions {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;

  &__content-container {
    max-width: 1148px; // (480px * 2) + 60px gutter + 128px padding
    padding: 128px 64px 0;
    width: 100%;
    z-index: 1;

    &--display-large {
      display: block;
    }

    &--display-small {
      display: none;
    }
  }

  &__mini-text {
    color: var(--color-sail-green-500);
    font-size: 16px;
    line-height: 1.2;
  }

  &__summary-container {
    display: flex;
  }

  &__summary-snippet-container {
    margin-right: 30px;
  }

  &__text-snippets {
    display: flex;
    margin-top: 30px;
  }

  &__title {
    font-family: var(--font-family-inter-bold);
    font-size: 36px;
    line-height: 1.2;
    margin-top: 30px;
    max-width: 480px;
  }

  @media (max-width: 1200px) {
    &__summary-container {
      display: block;
    }

    &__summary-snippet-container {
      margin-right: 0px;
    }
  }

  @media (max-width: 768px) {
    &__content-container {
      max-width: 480px;
      padding: 32px 32px 0px 32px;

      &--display-large {
        display: none;
      }

      &--display-small {
        display: block;
      }
    }

    &__text-snippets {
      flex-direction: column;
    }
  }
}
