.Leaderboard {
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: fit-content(0) auto;
  height: 100%;
  overflow: hidden;

  &__BreadcrumbMenu {
    display: none;
  }

  &__contributor-list {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    overflow-y: auto;
    padding-bottom: 48px;
  }

  &__left-menu {
    border-right: 1px solid var(--color-sail-gray-100);
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    overflow-y: auto;
  }

  &__RepositoryFilter {
    padding: 16px 24px;
  }

  &__TimeFilter {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    padding: 42px 16px 18px;
    text-align: right;
  }

  @media (max-width: 992px) {
    grid-template-columns: auto;
    grid-template-rows: fit-content(0) fit-content(0) auto;

    &__BreadcrumbMenu {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
      grid-column: 1 / span 1;
      display: block;
      grid-row: 1 / span 1;
    }

    &__contributor-list {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }

    &__left-menu {
      display: none;
    }

    &__TimeFilter {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }
}
