.Leaderboard {
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: fit-content(0) auto;
  height: 100%;
  overflow: hidden;

  // Grid (right)
  &__contributor-list {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    overflow-y: auto;
    padding-bottom: 48px;
  }

  &__empty-state {
    display: flex;
    font-family: var(--font-family-inter-light);
    justify-content: center;
    margin-top: 64px;
  }

  // Grid (left)
  &__RepositoryFilter {
    border-right: 1px solid #e3e8ee;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    overflow-y: auto;
    padding: 16px 24px;
  }

  // Grid (top)
  &__TimeFilter {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    padding: 16px 24px;
    text-align: right;
  }
}
