.Leaderboard {
  $self: &;
  padding: 32px 32px 16px;

  &__account-number {
    margin-bottom: 12px;
    word-break: break-word;
  }

  &__copy-container {
    align-items: center;
    color: var(--color-secondary);
    cursor: pointer;
    display: flex;

    &:hover {
      #{$self}__copy-text {
        text-decoration: underline;
      }
    }
  }

  &__copy-icon {
    margin-right: 6px;
  }

  &__account-number-label {
    color: var(--color-sail-gray-400);
  }

  &__above-account-number {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__contributor {
    border-top: 1px solid #e3e8ee;
    display: flex;
    padding: 16px 0;
  }

  &__contributor-list {
    margin-left: 32px;
    width: 100%;
  }

  &__main-content {
    display: flex;
  }

  &__rank {
    align-items: center;
    display: flex;
    font-family: var(--font-family-inter-medium);
    font-size: 20px;
  }

  &__recent-tasks {
    margin-left: 32px;
    width: 580px;
  }

  &__repository-filter {
    flex-basis: 230px;
  }

  &__repository-filter-option {
    color: var(--color-sail-gray-400);
    cursor: pointer;
    font-family: var(--font-family-inter-medium);
    font-size: 16px;
    padding: 4px 0;

    &--active {
      color: var(--color-primary);
    }
  }

  &__time-filter {
    display: flex;
    justify-content: flex-end;
  }

  &__total-points {
    margin-left: 32px;
    white-space: nowrap;
  }

  &__total-points-label {
    color: var(--color-sail-gray-500);
    cursor: default;
  }

  &__total-points-value {
    color: var(--color-tertiary);
    font-family: var(--font-family-inter-medium);
    font-size: var(--font-size-large);
    margin-top: 4px;
  }

  &__user-avatar {
    border-radius: 6px;
    height: auto;
    margin-left: 32px;
    max-width: 210px;
  }

  &__user-details {
    display: flex;
    flex-basis: 270px;
    flex-direction: column;
    margin-left: 18px;
  }

  &__user-login {
    color: #0366d6;
    font-family: var(--font-family-inter-medium);
    font-size: 20px;
    font-weight: 600;
  }
}
