.OpeningsOpening {
  $self: &;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(85, 108, 214, 0.18);
  display: flex;
  flex-direction: column;
  margin: 0 24px 12px;
  padding: 16px;

  &:focus {
    outline: none;
  }

  &:first-of-type {
    margin-top: 12px;
  }

  &:last-of-type {
    border-bottom: none;
  }

  &__description {
    margin-top: 12px;
  }

  &__position {
    color: var(--color-primary);
    display: block;
    font-family: var(--font-family-inter-medium);
    font-size: 18px;
    font-weight: 600;
  }
}
