.ProjectsMilestones {
  h2 {
    font-size: var(--font-size-medium);
    font-weight: 800;
    margin: 60px 0 32px;
  }

  &__caption {
    margin: 12px 0;

    &-heading {
      font-weight: 800;
      text-decoration: underline;
    }

    &-text {
      margin-top: 2px;
    }
  }

  &__StepIndicator {
    margin-bottom: 16px;

    &__bubble {
      margin-right: 30px;
    }

    &__text {
      color: var(--color-primary);
      font-size: var(--font-size-regular);
      font-weight: normal;
    }
  }

  &__TableBorderGrid {
    margin-top: 24px;

    &__td {
      strong {
        white-space: nowrap;
      }
    }
  }
}
