@import 'src/styles/mixins';
@import 'src/styles/font-mixins';

.BreadcrumbSection {
  &__link-container {
    align-items: center;
    color: var(--color-gray-400);
    display: flex;

    @media (max-width: 768px) {
      margin: 12px 0;
    }
  }

  &__link {
    @extend %h4;
    color: var(--color-gray-400);
    font-weight: var(--font-weight-regular);
    line-height: 14px; // allow text to be centered by setting line-height to be the same as font size
    text-align: left;

    &--active {
      color: var(--color-gray-600);
      font-weight: var(--font-weight-medium);
      text-align: left;
    }

    &:hover {
      color: var(--color-blue-gray-900);
    }
  }

  &__icon {
    color: var(--color-gray-400);
    margin: 0 8px;

    @media (max-width: 414px) {
      margin: 0 4px;
    }

    &--active {
      color: var(--color-gray-600);
    }
  }

  &__button {
    @include top-nav-button;
    display: flex;
    padding-left: 0;

    @media (max-width: 768px) {
      margin: 12px 0;
    }
  }

  &__Popover {
    max-height: 400px;
    overflow-y: scroll;
    padding: 16px;
    width: 240px;

    @media (max-height: 600px) {
      max-height: 200px;
      overflow-y: scroll;
    }

    &-link {
      color: var(--color-gray-500);
      cursor: pointer;
      display: block;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &:hover {
        color: var(--color-blue-gray-1000);
      }

      &--active {
        color: var(--color-gray-900);
      }
    }
  }
}
