.RepositoryFilter {
  &__option {
    color: var(--color-sail-gray-400, #8792a2);
    cursor: pointer;
    font-family: var(--font-family-inter-medium, 'InterMedium', sans-serif);
    font-size: 16px;
    padding: 4px 0;

    &:focus {
      outline: none;
    }

    &:hover {
      color: var(--color-primary, #042235);
    }

    &--active {
      color: var(--color-primary, #042235);
    }
  }
}
