.GoToTop {
  display: grid;
  grid-template-columns: 40% 60%;

  @media (max-width: 992px) {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  &__go-to-top {
  cursor:pointer;
  z-index:1000;
  position:fixed;
  right:7px;
  bottom:18px;
  width:42px;
  height:42px;
  }

}
