.GoToTop {
  &__button {
    animation: fadeIn 0.3s;
    background: #898fa0;
    border-radius: 50%;
    bottom: 12px;
    color: #fff;
    cursor: pointer;
    height: 42px;
    opacity: 1;
    position: fixed;
    right: 7px;
    transition: opacity 0.4s;
    width: 42px;
    z-index: 1000;
  }
}
