.TimeFilter {
  display: flex;
  justify-content: space-between;
  z-index: 1;

  h2 {
    white-space: nowrap;
  }

  &__option {
    color: var(--color-sail-gray-400);
    cursor: pointer;
    font-weight: 700;
    margin-left: 12px;

    &:focus {
      outline: none;
    }

    &:hover {
      color: var(--color-primary);
    }

    &--active {
      color: var(--color-primary);
    }
  }

  &__option-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
}
