.TimeFilter {
  display: flex;
  justify-content: space-between;

  h2 {
    white-space: nowrap;
  }

  &__option {
    background: transparent;
    border: 0;
    color: var(--color-sail-gray-400);
    cursor: pointer;
    font-weight: 700;
    line-height: 1.5;
    margin-left: 12px;
    outline: none;
    padding: 0;

    &:hover {
      color: var(--color-primary);
    }

    &--active {
      color: var(--color-primary);
    }
  }

  &__option-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
}
