.hiring-freeze {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  padding-bottom: 5rem;
  text-align: center;
  width: 100%;
}

.hiring-freeze h1 {
  font-weight: 400;
}

.hiring-freeze h3 {
  font-weight: 900;
}

.hiring-freeze h3 span {
  color: #ed5f74;
}

.Openings {
  display: grid;
  grid-template-columns: 240px auto;
  height: 100%;
  overflow: hidden;

  &__BreadcrumbMenu {
    display: none;
  }

  &__left-menu {
    grid-column: 1 / span 1;
  }

  &__opening-details {
    overflow-y: auto;
    padding: 12px 0 48px;
  }

  &__opening-list {
    grid-column: 2 / span 1;
    overflow-y: auto;
    padding: 12px 0 48px;
  }

  &__opening-list-heading {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.25;
    margin: 16px 54px 36px;
  }

  @media (max-width: 992px) {
    grid-template-columns: auto;
    grid-template-rows: fit-content(0) auto;

    &__BreadcrumbMenu {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
      display: block;
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    &__left-menu {
      display: none;
    }

    &__opening-list {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }

  @media (max-width: 768px) {
    &__opening-list-heading {
      margin: 16px 42px 36px;
    }
  }
}
