.DropdownInput {
  &__select-box {
    //Changing default arrow
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMC41ODk2IDEuMjk2NjlMMTEuMjkyOSAxLjk5OTk3TDYgNy4yOTI4NkwwLjcwNzEwNyAxLjk5OTk3TDEuNDEwMzkgMS4yOTY2OUw1LjY0NjgzIDUuNTIzOUw2IDUuODc2M0w2LjM1MzE3IDUuNTIzOUwxMC41ODk2IDEuMjk2NjlaIiBmaWxsPSIjM0M0MjU3IiBzdHJva2U9IiMzQzQyNTciLz4KPC9zdmc+Cgo=');
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right 0.7em top 50%;
    background-size: 0.65em auto;
    border: 1px solid #a3acb9;
    border-radius: 3px;
    box-sizing: border-box;
    color: #2a2f45;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    min-width: 100px;
    padding: 6px 32px 6px 6px;
    text-align: left;
    width: fit-content;
    &:focus {
      border: 1px solid #a3acb9;
      border-radius: 3px;
      outline: none;
    }
  }
  &__option {
    font-size: 14px;
    padding: 6px 6px;
  }
}
