.MarketingButton {
  align-items: center;
  background: var(--color-white);
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(4, 34, 53, 0.3);
  display: flex;
  height: 36px;
  justify-content: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &__img {
    max-width: 72px;
  }
}
