.Footer {
  background: var(--color-primary);
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 60px 60px 120px 60px;

  &__left {
  }

  &__right {
    display: flex;
    flex-direction: row;
  }

  &__social-media-link:not(:last-child) {
    margin-right: 18px;
  }

  &__social-media-links {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
  }
}
