.HomeFooter {
  align-items: center;
  background: var(--color-sail-gray-900);
  display: flex;
  flex-direction: column;
  height: 420px;
  margin-top: 97px;
  position: relative;

  &__social-media-container {
    max-width: 1308px;
    padding: 50px 64px;
    width: 100%;
    z-index: 1;
  }

  &__social-media-logo {
    height: 24px;
    margin-right: 15px;
    width: 24px;
  }

  @media (max-width: 768px) {
    &__social-media-container {
      max-width: 480px;
      padding: 32px 32px;
    }
  }
}
