@import 'styles/font-mixins';

.AppCard {
  border-radius: 8px;
  box-shadow: 0px 0px 22px rgba(4, 34, 53, 0.11);
  cursor: pointer;
  height: 100%;
  padding: 16px;
  position: relative;
  width: 100%;

  &:hover {
    box-shadow: 0 7px 40px 0 #e9effd;
  }

  &__banner {
    height: 195px;
    object-fit: cover;
    width: 100%;
  }

  &__avatar {
    margin-right: 20px;
  }

  &__bottom-container {
    display: flex;
    margin-top: 24px;
  }

  &__details-container {
    display: flex;
    flex-direction: column;
  }

  &__app-title {
    @extend %h2;
    color: var(--color-gray-800);
    font-weight: var(--font-weight-medium);
    margin-bottom: 8px;
  }

  &__app-description {
    @extend %body1;
    color: var(--color-gray-500);
    margin: 0;
    margin-bottom: 16px;
  }

  &__app-website {
    align-items: center;
    cursor: pointer;
    display: flex;

    &:hover {
      color: var(--color-blue-500);
      font-weight: var(--font-weight-bold);
    }

    &-text {
      margin-right: 8px;
    }
  }
}
