.LeftMenu {
  color: white;
  display: flex;
  flex-direction: column;

  a {
    color: white;
    padding: 0.75em 0.875em;
    text-decoration: none;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    &.active {
      background: rgba(255, 255, 255, 0.15);
    }
  }
}
