.ProjectsRules {
  &__StepIndicator {
    margin-bottom: 16px;

    &__bubble {
      margin-right: 30px;
    }

    &__text {
      color: var(--color-primary);
      font-size: var(--font-size-regular);
      font-weight: normal;
    }
  }
}
