$card-width-original: 384px;
$card-min-width-original: 300px;
$card-height-original: 240px;

$card-width-992: 412px;
$card-min-width-992: 330px;

$card-width-768: 320px;
$card-min-width-768: 220px;
$card-height-768: 246px;

$card-width-550: 360px;
$card-height-550: 248px;
