.LeftMenuGroup {
  .toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 10px 16px 0;
    transition-duration: 0.2s;

    &:focus {
      outline: 0;
    }

    &.expanded {
      .arrow {
        transform: rotate(90deg);
      }
    }

    .arrow {
      margin-right: 16px;
      transform: rotate(0deg);
      transition-duration: 0.2s;
    }
  }

  .submenu {
    display: none;
    flex-direction: column;

    &.expanded {
      display: flex;
    }

    a {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      color: #8792a2;
      margin-right: 16px;
      padding: 6px 0 6px 56px;
      transition: color 0.1s ease;

      &:hover {
        color: var(--color-primary);
      }

      &.active {
        background: #f5fbff;
        color: #556cd6;
      }
    }
  }
}
