.ProjectDetailsSideMenu {
  background-color: var(--color-white);
  border-radius: 0px 0px 0px 12px;
  box-shadow: 0px 8px 88px rgba(0, 0, 0, 0.05);
  height: fit-content;
  padding: 32px;
  width: 438px;

  @media (max-width: 1200px) {
    width: 376px;
  }

  @media (max-width: 992px) {
    width: 320px;
  }

  @media (max-width: 768px) {
    width: 112px;
  }

  @media (max-width: 480px) {
    width: 88px;
  }

  &__topic {
    align-items: center;
    color: var(--color-gray-500);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    gap: 18px;
    margin-bottom: 32px;
    outline: none;

    &:hover {
      color: var(--color-cyan-800);
      font-weight: 700;
    }

    &--active {
      color: var(--color-cyan-800);
      font-weight: 700;
    }

    &--hovered {
      color: var(--color-cyan-800);
      font-weight: 700;
    }
  }
}
