@import 'styles/font-mixins';
@import '../../shared';

.ProjectDetailsSideMenu {
  background-color: var(--color-white);
  border-radius: 0 0 0 12px;
  box-shadow: 0 8px 88px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
  height: fit-content;
  left: 0;
  padding: 32px;
  position: sticky;
  top: $top-content-height;
  width: 438px;

  @media (max-width: 1200px) {
    width: 376px;
  }

  @media (max-width: 992px) {
    padding: 24px;
    width: 72px;
  }

  @media (max-width: 480px) {
    top: $top-content-height-576;
  }

  &__topic {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    outline: none;
  }

  &__icon {
    margin-right: 18px;
  }

  &__topic-title {
    @extend %h3;
    color: var(--color-gray-500);
    font-weight: var(--font-weight-regular);

    &:hover {
      color: var(--color-cyan-800);
    }

    &--active {
      color: var(--color-cyan-800);
      font-weight: var(--font-weight-bold);
    }
  }
}
