@keyframes addOverlay {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.3);
  }
}

.SlideUp {
  bottom: 0;
  position: absolute;
  width: 100vw;
  z-index: 2;

  &__content {
    background: var(--color-white);
    box-shadow: 0px -3px 12px rgba(4, 34, 53, 0.25);
    padding: 24px 30px 40px;
  }

  &__overlay {
    animation: addOverlay 0.3s forwards;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
  }
}
