.Accounts {
  img {
    &.account-details-diagram {
      max-width: 1200px;
    }

    &.accounts-diagram {
      max-width: 600px;
    }

    &.key-pair-diagram {
      max-width: 450px;
    }
  }
}
