.newsletter-form {
  margin-top: 16px;
  position: relative;

  form {
    display: flex;
    flex-wrap: wrap;

    & > * {
      height: 40px;
    }
  }

  &__error {
    color: var(--color-danger);
    height: 24px;
    margin-top: 5px;
    position: absolute;
  }

  input {
    padding: 8px;
    width: 240px;

    @media (max-width: 500px) {
      width: 100%;
    }
  }

  button {
    margin-left: 16px;

    @media (max-width: 500px) {
      margin-left: 0;
      margin-top: 16px;
      width: 100%;
    }
  }
}
