.NewsletterForm {
  form {
    display: flex;
    flex-wrap: wrap;

    & > * {
      height: 40px;
    }
  }

  &__button {
    margin-left: 16px;

    @media (max-width: 500px) {
      margin-left: 0;
      margin-top: 16px;
      width: 100%;
    }
  }

  &__error {
    color: var(--color-danger);
    height: 24px;
  }

  &__input {
    border: 1px solid #a3acb9;
    border-radius: 3px;
    padding: 8px;
    width: 240px;

    @media (max-width: 500px) {
      width: 100%;
    }
  }
}
