.DashboardLayout {
  display: grid;
  grid-template-columns: 300px auto;
  height: 100%;
  overflow: hidden;

  &__BreadcrumbMenu {
    display: none;
  }

  &__left-menu {
    grid-column: 1 / span 1;
    overflow-y: auto;
  }

  &__main-content {
    grid-column: 2 / span 1;
    overflow-y: auto;
    padding-bottom: 120px;
  }

  @media (max-width: 768px) {
    grid-template-columns: auto;
    grid-template-rows: fit-content(0) auto;

    &__BreadcrumbMenu {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
      display: block;
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    &__left-menu {
      display: none;
    }

    &__main-content {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }
}
