.CopyableAccountNumber {
  $self: &;
  max-width: 240px;

  &__account-number {
    word-break: break-word;
  }

  &__copy-container {
    align-items: center;
    color: var(--color-secondary);
    cursor: pointer;
    display: flex;

    &:hover {
      #{$self}__copy-text {
        text-decoration: underline;
      }
    }
  }

  &__copy-icon {
    margin-right: 6px;
  }

  &__label {
    color: var(--color-sail-gray-500);
  }

  &__top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
  }
}
