.CreateAccount {
  &__disabled {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    line-height: 1.5;
    padding: 0 20px 0 20px;
    text-align: center;
    width: 100%;

    h1 {
      font-weight: var(--font-weight-regular);
      margin-bottom: 24px;
    }

    h3 {
      font-weight: 900;
    }

    h3 span {
      color: #ed5f74;
    }
  }
}
