.Avatar {
  border-radius: 50%;

  &--bordered {
    border: 2px solid var(--color-white);
  }

  &--clickable {
    cursor: pointer;
  }

  &--placeholder {
    background: var(--color-sail-gray-100);
  }
}
