.TermsOfUse {
  color: var(--color-sail-gray-600);

  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  max-width: 720px;
  min-height: 700px;
  padding-bottom: 120px;

  h1 {
    color: var(--color-sail-gray-900);
  }

  h2 {
    color: var(--color-sail-gray-900);
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;

    &.TermsOfUse__first-subtitle {
      margin-top: 80px;
    }
  }

  &__list {
    li {
      margin-bottom: 12px;
      margin-top: 12px;
    }
  }

  &__subtitle {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  &__title {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  @media (max-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 414px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
