.TaskTable {
  margin-bottom: 48px;
  overflow-x: auto;

  &__assignee {
    border-radius: 50%;
    display: flex;
    height: 22px;
    width: 22px;
  }

  &__TableBorderGrid {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    margin-bottom: 0;
    white-space: nowrap;
    width: 100%;

    // Title (name of task)
    td:nth-child(1) {
      width: 55%;
    }

    // Labels
    td:nth-child(2) {
      width: 25%;
    }

    // Reward
    td:nth-child(3) {
      width: 10%;
    }

    // Assignee
    td:nth-child(4) {
      width: 10%;
    }

    &__title {
      color: var(--color-primary);
      font-size: var(--font-size-medium);
      margin-bottom: 6px;
    }
  }
}
