.TaskTable {
  margin-bottom: 48px;
  overflow-x: auto;

  &__assignee {
    border-radius: 50%;
    display: flex;
    height: 22px;
    width: 22px;
  }

  &__TableBorderGrid {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    margin-bottom: 0;
    white-space: nowrap;
    width: 100%;

    &__title {
      color: var(--color-primary);
      font-size: var(--font-size-medium);
      margin-bottom: 6px;
    }
  }
}
