.ProfileInfo {
  &__account-details {
    display: flex;
    padding-top: 18px;
  }

  &__backdrop-container {
    position: relative;
  }

  &__blue-backdrop {
    background-color: var(--color-blue-gray-1000);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 116px;
    width: 100%;

    @media (max-width: 480px) {
      border-radius: 0;
    }
  }

  &__CopyableAccountNumber {
    flex: 1;
    margin-right: 11px;
  }

  .CopyableAccountNumber {
    &__account-number {
      padding-bottom: 14px;
    }
  }

  &__details {
    padding: 0px 18px;

    @media (max-width: 480px) {
      padding: 0px 36px;
    }
  }

  &__edit-profile {
    background-color: var(--color-white);
    border-radius: 50%;
    color: var(--color-secondary);
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 18px;
  }

  &__lead-flag {
    align-items: center;
    background: var(--color-secondary);
    border-radius: 100px;
    color: var(--color-bg);
    display: flex;
    height: 24px;
    justify-content: center;
    left: 18px;
    line-height: 17px;
    position: absolute;
    top: 18px;
    width: 91px;
  }

  &__loader-container {
    left: 50%;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -30%);
  }

  &__member-discord {
    display: flex;
    flex-direction: row;
  }

  &__member-discord-icon {
    margin-right: 10px;
  }

  &__member-github {
    display: flex;
    flex-direction: row;
  }

  &__member-github-icon {
    margin-right: 10px;
  }

  &__member-title {
    margin-bottom: 10px;
  }

  &__name {
    font-size: var(--font-size-h2);
    font-weight: 701;
    margin-bottom: 10px;
  }

  &__profile-picture {
    border: 2px solid var(--color-white);
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  &__qr-container {
    flex: 1;
  }

  &__top-section {
    height: 223px;
    position: relative;
  }

  &__user-details {
    align-items: flex-start;
    border-bottom: 1px solid var(--color-sail-gray-100);
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
  }
}
