@import 'styles/font-mixins';

.ProgressBar {
  &__bar {
    background-color: var(--color-gray-100);
    border-radius: 100px;
    height: 8px;
    position: relative;
    width: 100%;

    &--filled {
      background-color: var(--color-green-300);
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}
