.DocContainer {
  $self: &;
  padding: 32px 32px 16px;

  > *:not(.DocImage) {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
  }

  &__divider {
    height: 12px;
  }

  &__guide-header {
    display: flex;
    margin-bottom: 24px;
    @media only screen and (max-width: 360px) {
      flex-direction: column;
    }

    &--lastUpdated {
      color: lightgray;
      flex: 1;
      text-align: right;
      @media only screen and (max-width: 360px) {
        text-align: left;
      }
    }
  }

  &__HashLink {
    display: none;
    padding-left: 8px;
  }

  &__page-title {
    flex: 2;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;

    &:hover {
      #{$self}__HashLink {
        display: inline;
      }
    }

    @media only screen and (max-width: 600px) {
      flex: 1;
    }
  }
}
