.DocContainer {
  $self: &;
  padding: 32px 32px 16px;

  > *:not(.DocImage) {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
  }

  &__divider {
    height: 12px;
  }

  &__HashLink {
    display: none;
    padding-left: 8px;
  }

  &__page-title {
    font-family: var(--font-family-inter-light);
    font-size: 36px;
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 24px;

    &:hover {
      #{$self}__HashLink {
        display: inline;
      }
    }
  }
}
