.task-row {
  align-items: stretch;
  background-color: #fff;
  width: 100%;

  &:last-of-type {
    border-bottom: 0;
  }

  &.dark {
    background-color: var(--color-gray-5);
  }

  .task-name {
    color: #000;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    white-space: pre-wrap;
  }

  .task-name,
  .cell {
    border-bottom: 1px solid var(--color-gray-3);
    flex: 1;
    padding: 10px 5px;
  }

  .task-range {
    flex: 4;
    position: relative;

    .cell {
      border-left: 1px solid var(--color-gray-3);
    }

    .task-progress-row {
      height: 100%;
      padding: 7px 5px;
      position: absolute;
      width: 100%;

      .task-current-state {
        border-radius: 5px;
        height: 100%;
      }
    }
  }
}
