.AdminLayout {
  display: grid;
  grid-template-columns: 0 auto;
  grid-template-rows: fit-content(0) auto;
  height: 100vh;

  &.left-menu-open {
    grid-template-columns: 270px auto;
  }

  .top {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;

    .TopNav {
      .left-menu-toggle-container {
        align-items: center;
        border-right: 1px solid var(--color-gray-4);
        cursor: pointer;
        display: flex;
        height: 100%;
        padding: 0 12px;

        &:hover {
          background: rgba(0, 0, 0, 0.02);
        }
      }
    }
  }

  .left {
    background: #26252b;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    overflow-y: auto;
  }

  .right {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    overflow-y: auto;
  }
}
