@import 'src/styles/mixins';

.OpeningDetails {
  $self: &;
  margin: 36px 54px;

  @media (max-width: 768px) {
    margin: 16px 24px;
  }

  &__A {
    color: var(--color-secondary);

    &:hover {
      text-decoration: underline;
    }
  }

  &__actions-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__application-method-container {
    margin-bottom: 16px;
  }

  &__back-container {
    align-items: center;
    color: var(--color-secondary);
    cursor: pointer;
    display: inline-flex;

    &:hover #{$self}__back-text {
      text-decoration: underline;
    }
  }

  &__back-icon {
    margin-right: 15px;
  }

  &__description {
    margin-top: 24px;
  }

  &__list-label {
    font-weight: 800;
    margin-top: 24px;
  }

  &__position {
    color: var(--color-primary);
    font-size: 36px;
    font-weight: var(--font-weight-light);
    line-height: 1.25;
    margin-top: 36px;
  }

  &__ul {
    margin-top: 4px;
    padding-inline-start: 18px;
  }
}
