.OpeningDetails {
  $self: &;
  margin: 36px 54px;

  &__A {
    color: var(--color-secondary);

    &:hover {
      text-decoration: underline;
    }
  }

  &__application-method-container {
    margin-bottom: 16px;
  }

  &__application-method-note {
    color: var(--color-sail-gray-500);
  }

  &__application-method-row {
    align-items: center;
    display: flex;
    margin-top: 12px;

    &:first-of-type {
      margin-top: 16px;
    }
  }

  &__back-container {
    align-items: center;
    color: var(--color-secondary);
    cursor: pointer;
    display: inline-flex;

    &:hover #{$self}__back-text {
      text-decoration: underline;
    }
  }

  &__back-icon {
    margin-right: 15px;
  }

  &__description {
    margin-top: 24px;
  }

  &__list-label {
    font-family: var(--font-family-inter-bold);
    margin-top: 24px;
  }

  &__MarketingButton {
    margin-right: 12px;
    width: 140px;
  }

  &__position {
    color: var(--color-primary);
    font-family: var(--font-family-inter-light);
    font-size: 36px;
    line-height: 1.25;
    margin-top: 36px;
  }

  &__ul {
    margin-top: 4px;
    padding-inline-start: 18px;
  }
}
