.Assets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 48px;

  @media (max-width: 576px) {
    padding: 60px 12px;
  }

  &__card {
    align-items: center;
    display: flex;
    height: 160px;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  &__cards-container {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;

    @media (max-width: 768px) {
      align-items: center;
      flex-direction: column;
      margin-bottom: 30px;
    }
  }

  &__card-wrapper {
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 0 3px rgba(85, 108, 214, 0.3);
    height: 300px;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 12px;
    max-width: 357px;
    text-align: center;
    width: 100%;

    @media (min-width: 769px) {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }

    &--dark {
      background: var(--color-primary);
      color: var(--color-white);
    }
  }

  &__download-button {
    background: var(--color-primary);
    border: 1px var(--color-white) solid;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(4, 34, 53, 0.25);
    color: var(--color-white);
    display: flex;
    float: right;
    height: 48px;
    justify-content: center;
    margin: 10px;
    transition: background-color 0.1s ease-in;
    width: 48px;

    &:hover {
      background: var(--color-primary-hover);
      border-color: var(--color-primary-hover);
    }
  }

  &__heading {
    font-size: 36px;
    font-weight: 800;
    line-height: 1.25;
    margin: 0 auto 30px;
    text-align: center;
  }

  &__logo {
    max-width: 90%;
  }

  &__subtext {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-light);
    line-height: 1.5;
    margin: 0 auto 48px;
    max-width: 480px;
    text-align: center;
  }
}
