.Assets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 48px;

  @media (max-width: 576px) {
    padding: 60px 12px;
  }

  &__card {
    border-radius: 12px;
    box-shadow: 0 0 3px rgba(85, 108, 214, 0.3);
    height: 300px;
    margin-bottom: 10px;
    margin-top: 12px;
    max-width: 357px;
    min-width: 351px;
    padding: 70px 0;
    text-align: center;
    @media (min-width: 576px) {
      margin-right: 12px;
    }
  }
  &__card-wrapper {
    margin-bottom: 50px;
    text-align: center;
  }

  &__cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 90px;

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__heading {
    font-size: 36px;
    font-weight: 800;
    line-height: 1.25;
    margin: 0 auto 30px;
    text-align: center;
  }

  &__logo {
    max-width: 100%;

    &--tnb {
      max-width: 202px;
    }
  }

  &__subtext {
    font-size: var(--font-size-regular);
    font-weight: 300;
    line-height: 1.5;
    margin: 0 auto 48px;
    max-width: 480px;
    text-align: center;
  }
}
